#media .col-md-2 img, .col-md-3.ab-img img {width: 100%;}
.con-ancor a{color: #333; text-decoration:none;}
.con-ancor a:hover{color: #fe5a0e;}




/*      Tablet Layout: 768px.    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	header .header-body .edu-navbar .navbar-header a img {width: 57px;}
	header .header-body .edu-navbar .edu-nav .nav li a{font-size:14px;}
	header .header-body .edu-navbar .edu-nav .nav li {margin-left: 16px;}
    /*----- Index -----*/
    
    .single-book {
        margin-bottom: 30px;
    }
    .single-book:last-child {
        margin-bottom: 00px;
    }
    .students-say-area .carousel-text .single-box p {
        width: 70%;
    }
    /*----- Index 02 -----*/
    
    .home_version_02 .register-area .form-full-box {
        background: #ffffff;
        margin: 0 15px;
    }
    .home_version_02 .register-area .form-full-box .register-form {
        padding: 0 15px 35px;
    }
    .home_version_02 .register-area .form-content {
        margin-top: 50px;
        padding-left: 0px;
    }
    .Courses-area .single-courses-box {
        margin-bottom: 30px;
    }
    .Courses-area .single-courses-box:last-child {
        margin-bottom: 0px;
    }
    .team-single-info-02 {
        margin-bottom: 30px;
    }
    .team-single-info-02:last-child {
        margin-bottom: 0px;
    }
    /*----- Index 03 -----*/
    
    .home_version_03 header .header-body .intro-text h1 {
        margin-bottom: 40px !important;
    }
    .home_version_03 header .header-body .intro-text p {
        padding: 25px 0 50px;
    }
    .home_version_03 .Welcome-area .wel-shap:before {
        background: none;
    }
    .home_version_03 header .header-body .intro-text h1 {
        margin-bottom: 40px !important;
    }
    .home_version_03 header .header-body .intro-text p {
        padding: 0px;
    }
    .home_version_03 header .header-body .mouse-icon-box {
        margin-top: 0%;
    }
    .home_version_03 header .header-body .mouse-icon-box {
        margin-top: 60px;
        margin-left: 0px;
    }
    .home_version_03 header .header-body .intro-text p {
        width: 100%;
    }
    /*----- Index 04 -----*/
    
    .home_version_04 .header-body .edu-navbar .edu-nav .nav {
        width: 95%;
    }
    .home_version_04 .video-wapper .section-h-medium {
        text-align: center;
        margin: 50px;
    }
    .home_version_04 .about_vi_e-area .video-wapper .video-play-btn .video-iframe {
        margin: 15% 0;
    }
    .home_version_04 .trausted-stu-area .trausted-content .trausted-stu-btn {
        margin: 25px 0 0;
    }
    .home_version_04 .reg-news_others .regi-full-box .register-form {
        padding: 0 15px 35px;
    }
    /*----- Event  -----*/
    
    .more-events .event-single {
        margin-bottom: 30px;
    }
    .more-events .single-item:last-child {
        margin-bottom: 0px;
    }
    /*----- blog-----*/
    
    .post-1 .post_1_area .post_left-side .prev_next .prev {
        border: 1px solid #d7d7d7;
        text-align: left;
    }
    .blog_1 .blog-area .blog_side-right .recent-work .row-padding-bottom img {
        margin: 5px;
    }
    .blog_1 .blog-area .blog_side-right .social-icon ul {
        text-align: center;
    }
    .post-1 .post_1_area .post_left-side .prev_next .prev::before {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .prev::after {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .next {
        border: 1px solid #d7d7d7;
        text-align: left;
    }
    .post-1 .post_1_area .post_left-side .prev_next .next::before {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .next::after {
        display: none;
    }
    .blog-single-item {
        margin-bottom: 30px;
    }
    .blog-single-item:last-child {
        margin-bottom: 0px;
    }
    /*----- Courses  -----*/
    
    .single-courses_v .single-courses-area .sidebar-right .sidebar-content {
        width: 100%;
    }
    .single-courses_v .single-courses-area .sidebar-righ {
        padding: 0;
    }
    .review-item-singel {
        width: 25%;
    }
    .single-courses_v .single-courses-area .single-curses-contert .review-content .five-star-rating {
        margin: 0px auto;
    }
    .rating-btom-colum {
        margin-top: 40px;
        text-align: center;
    }
    .single-courses_v .single-courses-area .sidebar-content .courses-price .price-text {
        padding: 30px 15px;
    }
    .single-courses_v .single-courses-area .sidebar-content .courses-features .features-text {
        padding: 30px 15px;
    }
    .single-courses_v .single-courses-area .sidebar-content .share-socila-link .social-icon ul li {
        margin: 4px;
    }
    .single-courses_v .single-courses-area .sidebar-content .all-corses .all-corses-text {
        padding: 30px 15px;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-courses .latest-courses-text {
        padding: 40px 30px;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-courses .latest-courses-text .latest-single .course-prefix {
        padding: 0px;
        float: left;
        width: 80px;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-courses .latest-courses-text .latest-single .course-image img {
        width: 80px;
        height: 80px;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-post .latest-post-text .latest-post-single .course-image {
        width: 80px;
        float: left;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-post .latest-post-text .latest-post-single .course-prefix {
        width: 100px;
    }
    .single-courses_v .single-courses-area .sidebar-content {
        width: 100%;
    }
    /*----- Teachers  -----*/
    
    .teachers-01 .teachers-area .teachers-wapper-01 {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-01:last-child {
        margin-bottom: 0px;
    }
    .teachers-01 .teachers-area .teachers-wapper-01 .teacher-single {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-01 .teacher-single:last-child {
        margin-bottom: 0px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02 {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02:last-child {
        margin-bottom: 0px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02 .teacher-single {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02 .teacher-single:last-child {
        margin-bottom: 0px;
    }
    .become_teachers .become-teachers-01 .contact-form form {
        width: 90%;
        padding: 40px 0;
    }
}
/*======================  Mobile Layout: 320px. =======================  */


@media only screen and (max-width: 1264px) {
.inf-demo #myCarousel .col-md-4.col-md-offset-1.bg-transparent {width: 40%;}
}

@media only screen and (max-width: 1199px) {
.about-section .sub-head br{display:none;}
.faq-style-one .sec-title {padding-top: 0;}
.faq-style-one .sec-title h3{padding: 0 20px 20px;}
.inner .col-lg-6:nth-child(1) .faq{margin-bottom:0;}
.inner .col-lg-6:nth-child(2) .faq{padding-top:0 !important;}
}


@media only screen and (max-width: 1159px) {
.section-header-l h2{font-size: 36px;}
.tp-parallax-wrap {left: 0 !important; font-size:33px !important;}
.tp-caption.sfr.font-extra-bold.tp-resizeme.letter-space-4.title-line-1, .tp-caption.sfr.font-extra-bold.tp-resizeme.letter-space-4.title-line-2, .tp-caption.sfr.font-extra-bold.tp-resizeme.letter-space-4.header-p, .tp-caption.sfr.font-extra-bold.tp-resizeme.letter-space-4.header-p p{ font-size:33px !important; line-height:45px !important; margin-top: 0 !important; display: inline-block; vertical-align: top;}
}

@media only screen and (max-width: 1041px) {
.inf-demo #myCarousel .col-md-4.col-md-offset-1.bg-transparent {width: 50%;}
.carousel-control.right {left: 17.5%;}
}

@media only screen and (max-width: 991px) {
.Welcome-area .Welcome-area-text {margin-bottom: 40px; margin-top: 20px; width: 100%;}
.Welcome-area .welcome-img{width:100%; padding-bottom: 20px;}
.Welcome-area .welcome-img img {padding:20px 20px 0; width: 90%; margin:0 auto;}
.Welcome-area .welcome-img h3.txt-1, .Welcome-area .welcome-img .txt-q1 {padding: 20px 0px 20px;}
.Welcome-area .welcome-img hr {margin-bottom: 0;}
.section-header-l h2, .Welcome-area .Welcome-area-text p{text-align:left;}
.section-header-l h2 br{display:none;}
.section-header-l h2{margin-right:0;}
.Welcome-area .Welcome-area-text p{margin:0; padding-bottom: 12px;}
.Welcome-area .welcome-img .col-sm-4 {width: 33.33333333%; float:left;}
.Welcome-area .welcome-img .col-sm-7 {width: 58.33333333%; float:left;}
.Welcome-area .Welcome-area-text a.pull-right {float: left !important;}
.inf-demo #myCarousel .col-md-4.col-md-offset-1.bg-transparent {width: 100%;}
.carousel-control.left {left:56px;}
.carousel-control.right {left: 100px;}
.publication-area .col-md-4 {width: 33.33333333%; float: left;}
.publication-area .col-md-6 {width: 50%; float:left;}
.publication-area .tab-pane .row {margin-right: 0; margin-left: 0;}
.news-area .news-single-box .news-content h3 a{font-size:13px;}
.news-area .section-header h2,  h2.client-txt {font-size: 32px;}
#media .col-md-2 {width: 16.66666667%; float:left;}
.border-bck{bottom:15px;}
footer{padding-top: 30px; font-size: 12px;}
footer .footer-bottom .footer-bottom-inner p{font-size:12px;}
footer .col-md-2, footer .col-md-2.footer-col1, footer .col-md-2.footer-col2 {width: 25%; float: left; min-height: 304px;}
footer .col-md-4.footer-col{width: 50%; float: left;min-height: 304px;}
footer .footer-content-box {padding: 0 0 20px 0; display: inline-block; vertical-align: top; width:100%;}
footer .footer-bottom .footer-bottom-inner .footer-no-padding {padding: 0; width: 100%; float: none; text-align: center;}
footer .footer-bottom .footer-bottom-inner .footer-no-padding .right-text.pull-right{text-align:center; float:none !important;}
.faq-rqa-section.faq-style-one.sec-pad{padding:20px 0;}
.faq-style-one .sec-title h3 span {font-size: 28px;}
.col-md-3.ab-img {float: left; width: 50%;}
blockquote {font-size: 1em; padding: 1.2em 30px 1.2em 43px;}
.main-timeline2 .title {font-size: 28px; padding-bottom: 0;}
.award-img, .gallery-single-item {width: 32.333333%; float:left; height: 226px;}
.gallery-single-item img{height:222px;}
.about-section.why .col-sm-4 {width: 33.3333337%; float: left; margin: 0 1% 2%;}
.c-content-feature-1 > h3 {font-size: 20px; margin: 14px 0 10px 0;}
.sitemap ul li {width: 32.333%;}
.sitemap h2 {font-size: 17px; padding: 14px 0 0;}
.sitemap ul, .sitemap ul li{margin-bottom:0;}
.sitemap ul li a, .sitemap h2 a:hover{display:block;}
.contact-add .col-sm-4 span {display: block;}
.contact-add .col-sm-4:first-child br {display: none;}
.col-sm-12.contact-add.contact-map .col-sm-4 {width: 100%; float: none; padding: 0;}
.col-sm-12.contact-add.contact-map .col-sm-4:first-child br, .col-sm-12.contact-add.contact-map .col-sm-4 br{display:block;}
.col-sm-12.contact-add.contact-map .col-sm-4 iframe {margin-top: 20px; width:100%;}
.col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form {padding: 20px 30px 10px 30px; margin-top: 20px;}
.col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form .input-box i.fa.fa-arrow-right {left: 57%;}
.col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form .input-box {width: 100%;}
/*header .rev_slider_wrapper {height: 400px !important; overflow: hidden !important;}*/
}

@media only screen and (max-width: 767px) {
    /*----- default style -----*/
    
    header .header-body .edu-navbar {padding:50px 0 0 0;}
   /* body {text-align: center;}*/
    header .header-top .header-top-right ul {text-align: center;}
    header .header-top .header-top-right ul li {padding: 0 8px;}	
    .mean-last, .header-p, .tparrows {display:block/* none*/ !important;}
    .menu-icon {display: block;}
	.navbar-toggle, .tp-parallax-wrap{display:none !important;}
	header .header-body .edu-navbar .navbar-header a img{height:58px;}
	.section-header-l h2 {/*text-align: center !important;*/ font-size:28px;}
    .section-header-l:before {left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}
	header .header-body .is-sticky .edu-navbar{position:static !important;}
	.inf-demo #myCarousel .item img{height:400px !important;}
	.box-bg {padding: 50px 40px 0 40px;}
	.carousel-control {bottom:33px}
    footer {text-align: left;}
	/*footer .col-md-2, footer .col-md-2.footer-col1, footer .col-md-2.footer-col2 {width: 50%;}*/
    footer .submit-btn {width: 100%; text-align: center !important;}
    footer .footer-bottom .footer-bottom-inner p {text-align: center;}
    footer .footer-bottom .footer-bottom-inner .footer-menu {text-align: center;}
    /*----- Index 01-----*/
    
    .slider-content-bottom {margin-top: 100px;}
    .slide_cont_box_01, .slide_cont_box_02, .slide_cont_box_03 {padding: 0px;}
    .slider-content-bottom .content_body {margin-bottom: 30px;}
    .slider-content-bottom .content_body:last-child {margin-bottom: 0px;}
    .single-courses-box {margin-bottom: 30px;}
    .single-courses-box:last-child {margin-bottom: 0px;}
    .counter-area .counters {
        background: none;
    }
    .single-book {
        margin-bottom: 30px;
    }
    .single-book:last-child {
        margin-bottom: 00px;
    }
    .news-single {
        margin-bottom: 30px;
    }
    .news-single:last-child {
        margin-bottom: 0px;
    }
    .img-full-box {
        margin-left: 0px !important;
    }
    .students-say-area .carousel-images .slick-slide {
        margin: 47px 0;
        padding: 2px;
    }
    .instraction-area .inspiration-full-box .section-header-l p {
        text-align: center;
    }
    .instraction-area .inspiration-full-box .instraction-btn {
        margin: 50px auto 0;
    }
    /*----- Index 02 -----*/
    
    .wel-ful-box-2 {
        margin-bottom: 30px;
    }
    .wel-ful-box-2:last-child {
        margin-bottom: 0px;
    }
    .home_version_02 .register-area .form-full-box {
        background: #ffffff;
        margin: 0 15px;
    }
    .home_version_02 .register-area .form-full-box .register-form {
        padding: 0 15px 35px;
    }
    .home_version_02 .register-area .form-content {
        margin-top: 50px;
        padding-left: 0px;
    }
    .event-single {
        margin-bottom: 30px;
    }
    .event-single:last-child {
        margin-bottom: 0px;
    }
    .team-single-info-02 {
        margin-bottom: 30px;
    }
    .team-single-info-02:last-child {
        margin-bottom: 0px;
    }
    .latest-news-single {
        margin-bottom: 30px;
    }
    .latest-news-single:last-child {
        margin-bottom: 0px;
    }
    .instraction-area .inspiration-full-box .section-header-l p {
        text-align: center;
    }
    .instraction-area .inspiration-full-box .instraction-btn {
        margin: 50px auto 0;
    }
    /*----- Index 03 -----*/
    
    .home_version_03 header .header-body .intro-text h1 {
        margin-bottom: 40px !important;
    }
    .home_version_03 header .header-body .intro-text p {
        padding: 25px 0 50px;
    }
    .home_version_03 header .header-body .mouse-icon-box {
        margin-top: 0%;
    }
    .home_version_03 header .header-body .mouse-icon-box {
        margin-top: 60px;
        margin-left: 0px;
    }
    .home_version_03 header .header-body .intro-text p {
        width: 100%;
    }
    .home_version_03 header .header-body .intro-text p {
        padding: 0px;
    }
    .home_version_03 header .header-body .intro-text {
        margin-top: 120px;
    }
    .home_version_03 header .header-body .intro-text a {
        margin-bottom: 15px;
    }
    .home_version_03 header .header-body .intro-text a:last-child {
        margin-bottom: 0px;
    }
    .home_version_03 header .header-body .mouse-icon-box {
        margin-top: 100px;
        margin-left: 25px;
    }
    .home_version_03 .Welcome-area .wel-shap:before {
        background: none;
    }
    .home_version_03 .Welcome-area .wel-shap {
        margin-bottom: 50px;
    }
    .home_version_03 .Welcome-area .wel-shap img {
        margin: 0px auto;
    }
    .home_version_03 .Welcome-area .wel-shap .content-full-box {
        padding-right: 15px;
        margin-top: 50px;
    }
    .home_version_03 .Welcome-area .event-box {
        text-align: left;
    }
    .home_version_03 .Welcome-area .event-box .event-box-padding {
        display: inline-flex;
    }
    .home_version_03 .Welcome-area .event-box .event-box-padding .event-content .event-time span {
        display: inline-block;
    }
    .home_version_03 .search-curses-area .search-courses-form .cearch-form .form-group {
        margin-bottom: 15px;
    }
    .home_version_03 .search-curses-area .search-courses-form .cearch-form .form-group:last-child {
        margin-bottom: 0px;
    }
    .home_version_03 .achievment-area .counters-item {
        margin-bottom: 40px;
    }
    .home_version_03 .achievment-area .counters-item:last-child {
        margin-bottom: 0px;
    }
    .home_version_03 .sigle-col {
        margin-bottom: 30px;
    }
    .home_version_03 .sigle-col:last-child {
        margin-bottom: 0px;
    }
    .home_version_03 .gallery-single {
        margin-bottom: 30px;
    }
    .home_version_03 .gallery-single:last-child {
        margin-bottom: 0px;
    }
    /*----- Index 04 -----*/
    
    .home_version_04 .header-top .header-top-right ul {
        padding: 15px 0;
        text-align: center;
    }
    .home_version_04 .header-body {
        display: none;
    }
    .home_version_04 .header-top .header-top-logo {
        padding: 0;
    }
    .event-box {
        text-align: left;
    }
    .event-box .event-box-padding {
        display: inline-flex;
    }
    .home_version_04 .title-011 {
        text-align: center;
        margin-top: 50px;
    }
    .home_version_04 .trausted-stu-area .trausted-content {
        padding: 50px 15px;
        text-align: center;
    }
    .home_version_04 .trausted-stu-area .trausted-content .section-h-medium {
        text-align: center;
    }
    .home_version_04 .trausted-stu-area .trausted-content p {
        text-align: center;
    }
    .home_version_04 .trausted-stu-area .trausted-content .trausted-stu-btn {
        margin: 50px auto 0;
    }
    .reg-news_others .single-item-box {
        margin-bottom: 50px;
    }
    .reg-news_others .single-item-box:last-child {
        margin-bottom: 0px;
    }
    .home_version_04 .reg-news_others .regi-full-box .regi-content {
        padding: 35px 15px 0;
        min-height: 180px;
        overflow: hidden;
    }
    .home_version_04 .reg-news_others .regi-full-box .register-form {
        padding: 0 15px 35px;
    }
    .home_version_04 .reg-news_others .regi-full-box .regi-content::before {
        border-bottom: none;
    }
    .home_version_04 .reg-news_others .regi-full-box .regi-content::after {
        background: none;
    }
    /*----- Event  -----*/
    
    .event-01 .events-list-03 .events-full-box {
        margin-bottom: 30px;
    }
    .event-01 .events-list-03 .events-full-box:last-child {
        margin-bottom: 50px;
    }
    .event-01 .events-grid-2 .event-body-content {
        margin-bottom: 30px;
    }
    .event-01 .events-grid-2 .single-item {
        margin-bottom: 30px;
    }
    .event-01 .events-grid-2 .single-item:last-child {
        margin-bottom: 0px;
    }
    .event-01 .events-grid-3 .event-body-content {
        margin-bottom: 30px;
    }
    .event-01 .events-grid-3 .single-item {
        margin-bottom: 30px;
    }
    .event-01 .events-grid-3 .single-item:last-child {
        margin-bottom: 0px;
    }
    .event-details-1 .event-details .post_left-side .clock-countdown .coundown-timer .single-counter {
        height: 40px;
        width: 60px;
    }
    .event-details-1 .event-details .post_left-side .clock-countdown .coundown-timer .single-counter span {
        font-size: 13px;
    }
    .event-details-1 .event-details .post_left-side .clock-countdown .coundown-timer .single-counter span:first-child {
        font-size: 16px;
        line-height: 13px;
    }
    .event-details-1 .event-details .post_left-side .description-content .description-heading p span {
        display: block;
        text-align: left;
    }
    .event-details-1 .event-details .post_left-side .description-content .description-text .description-side-left ul li {
        margin-bottom: 15px;
        display: inline-flex;
    }
    .event-details-1 .sidebar-text-post {
        text-align: left;
        padding-left: 50px;
        width: 100%;
    }
    .sidebar-text-post h3 {
        margin-top: 50px;
    }
    /*----- BLog  -----*/
    
    .blog_1 .blog-area .bolg_side-left .single-item-box .single-item .single-text-box .blog-btn-box {
        margin: 30px auto 0;
    }
    .blog_1 .blog-area .bolg_side-left .single-item-box .single-item .single-text-box {
        padding: 35px 15px;
    }
    .blog_1 .blog-area .blog_side-right .categories-item {
        text-align: left;
        padding-left: 15px;
        margin-top: 40px;
    }
    .blog_1 .blog-area .blog_side-right .social-icon h3 {
        padding-left: 15px;
        text-align: left;
    }
    .blog_1 .blog-area .blog_side-right .social-icon ul li a i {
        margin-right: 15px;
        width: 0px;
        text-align: center;
    }
    .blog_1 .blog-area .blog_side-right .social-icon ul li a {
        padding-left: 10px;
    }
    .blog_1 .blog-area .blog_side-right .recent-work h3 {
        padding-left: 15px;
    }
    .blog_1 .blog-area .blog_side-right .recent-post .recent-single .recent-text {
        text-align: left;
    }
    .blog_1 .blog-area .blog_side-right .recent-post .recent-single {
        margin-bottom: 100px !important;
    }
    .blog_1 .blog-area .blog_side-right .recent-post .recent-single:last-child {
        margin-bottom: 0px !important;
    }
    .blog_1 .blog-area .blog_side-right .quick_contact {
        margin-top: 40px;
    }
    /*----- post  -----*/
    
    .post-1 .post_1_area .post_left-side .description-content .description-text .description-side-left ul li {
        display: inline-block;
    }
    .post-1 .post_1_area .post_left-side .description-content .tag-links-box p {
        float: none;
    }
    .post-1 .post_1_area .post_left-side .description-content .tag-links-box ul li:last-child {
        float: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .prev {
        border: 1px solid #d7d7d7;
        text-align: left;
    }
    .post-1 .post_1_area .post_left-side .prev_next .prev::before {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .prev::after {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .next {
        border: 1px solid #d7d7d7;
        text-align: left;
    }
    .post-1 .post_1_area .post_left-side .prev_next .next::before {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .prev_next .next::after {
        display: none;
    }
    .post-1 .post_1_area .post_left-side .comments .comment-single-item .comment-left-bar .comment-text {
        padding-left: 0px;
    }
    .post-1 .post_1_area .post_left-side .comments .reply_text {
        width: 100%;
        float: none;
    }
    .post-1 .post_1_area .post_left-side .comments .comment-single-item .comment-left-bar .comment-text .comment-author-box .reply {
        float: right;
        margin-top: -60px;
    }
    .post-1 .post_1_area .post_left-side .leave-comment-box .comment-respond {
        text-align: left;
    }
    .post-1 .sidebar-text-post {
        width: 100%;
        float: right;
    }
    .post-1 .sidebar-text-post .recent-post .recent-single .recent-content-item .recent-text {
        text-align: left;
    }
    .post-1 .sidebar-text-post .recent-post .recent-single {
        margin-bottom: 100px !important;
    }
    .post-1 .sidebar-text-post .recent-post .recent-single:last-child {
        margin-bottom: 0;
    }
    .post-1 .sidebar-text-post .categories-item-post {
        text-align: left;
        padding-left: 40px;
    }
    .post-1 .post_2_area .sidebar-text-post-02 {
        width: 100% !important;
        float: left !important;
    }
    .blog-single-item {
        margin-bottom: 30px;
    }
    .blog-single-item:last-child {
        margin-bottom: 0px;
    }
    /*----- Courses  -----*/
    
    .teacher-name {
        display: inline-grid;
        text-align: left;
        padding-left: 10px;
    }
    .single-courses_v .single-courses-area .single-curses-contert .review-option .categories span {
        margin: 0px auto;
    }
    .single-courses_v .single-courses-area .single-curses-contert .review-option .teacher-info img {
        float: none;
        margin-right: 0px;
    }
    .single-courses_v .review-item-singel {
        margin-bottom: 40px;
    }
    .single-courses_v .single-courses-area .single-curses-contert .description-content .requirements ul li {
        text-align: left;
    }
    .single-courses_v .single-courses-area .single-curses-contert .description-content .count-list ol li {
        text-align: left;
    }
    .single-courses_v .single-courses-area .single-curses-contert .curriculum-text-box .curriculum-section .panel-group .panel .panel-title {
        text-align: left;
    }
    .single-courses_v .single-courses-area .single-curses-contert .curriculum-text-box .curriculum-section .panel-group .panel .panel-body {
        padding: 30px 30px;
    }
    .single-courses_v .single-courses-area .lecture {
        display: inline-grid;
        text-align: left;
        float: left;
    }
    .single-courses_v .single-courses-area .single-curses-contert .curriculum-text-box .curriculum-section .panel-group .panel .panel-title {
        padding: 0px;
    }
    .single-courses_v .single-courses-area .single-curses-contert .review-content .five-star-rating {
        margin: 0px auto;
        margin-bottom: 50px;
    }
    .single-courses_v .single-courses-area .single-curses-contert .review-content .rating-btom-padding .right-rating-text span {
        padding-right: 0px;
    }
    .single-courses_v .single-courses-area .single-curses-contert .leave_a_comment .form-group label {
        float: left;
    }
    .single-courses_v .single-courses-area .single-curses-contert .leave_a_comment {
        margin-bottom: 50px;
    }
    .single-courses_v .single-courses-area .sidebar-right .sidebar-content {
        width: 100%;
    }
    .single-courses_v .single-courses-area .sidebar-content .courses-features .features-text {
        padding: 30px 15px;
        text-align: left;
    }
    .single-courses_v .single-courses-area .sidebar-content .all-corses .all-corses-text {
        padding: 30px 15px;
        text-align: left;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-courses .latest-courses-text {
        padding: 40px 30px;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-courses .latest-courses-text .latest-single .course-image {
        margin: 0px auto 15px;
    }
    .single-courses_v .single-courses-area .sidebar-content .latest-post .latest-post-text .latest-post-single .course-image {
        margin: 0px auto;
        margin-bottom: 15px;
    }
    .single-courses_v .single-courses-area .sidebar-content {
        width: 100%;
    }
    /*----- Teachers  -----*/
    
    .teachers-01 .teachers-area .teachers-wapper-01 {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-01:last-child {
        margin-bottom: 0px;
    }
    .teachers-01 .teachers-area .teachers-wapper-01 .teacher-single {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-01 .teacher-single:last-child {
        margin-bottom: 0px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02 {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02:last-child {
        margin-bottom: 0px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02 .teacher-single {
        margin-bottom: 30px;
    }
    .teachers-01 .teachers-area .teachers-wapper-02 .teacher-single:last-child {
        margin-bottom: 0px;
    }
    .t-profile-01 .teacher-prolile-01 .t-profile-right .all-corsess-wapper .all-courses .profile__courses__inner {text-align: left;}
    .single_skill {text-align: left;}
    .teachers-time-shedule {text-align: left;}
    .instractor-single {margin-bottom: 30px;}
    .instractor-single:last-child {margin-bottom: 0px;}
    .become_teachers .become-teachers-01 .contact-form form {width: 90%; padding: 40px 0;}
    .become_teachers .become-teachers-01 .contact-form .form-group .form-control {margin: 0px auto;}
    /*----- contact  -----*/
    
    .contact .contact-area-02 .contact-info .content-sub_p {text-align: left;}
    .contact .contact-area-02 .contact-info .contact-box {margin-top: 60px; text-align: left;}
    .contact .contact-area-02 .input-contact-form {margin-top: 60px;}
    .contact .contact-area-02 .input-contact-form .contact-title .content-sub_p {text-align: left;}
    .contact .contact-area-02 .contact-info .contact-box .single-address-box:last-child {padding: 30 0 60px;}
	.main-timeline2:before{left:0;right:auto}
    .main-timeline2 .timeline,.main-timeline2 .timeline:nth-child(even),.main-timeline2 .timeline:nth-child(odd){width:100%;float:none;padding:20px 30px;margin:0 0 30px;border-right:none;border-left:7px solid #084772;border-radius:30px 0 0;right:auto;left:0}
    .main-timeline2 .icon, .main-timeline2 .timeline:nth-child(2n) .icon{left:auto;right:2px;}
	.news-single {margin-bottom: 0; width: 33.3333336%; float: left;}
	.client-partner {padding-top: 20px; padding-bottom: 20px;}
    #media .col-md-2 {width: 33.3333337%; float: left;}
	.client-txt {width: 52%;}
	.inner-banner {overflow: visible;}
	.inner-banner img {height: 260px; width: 100%; display: block;}
	.inner-banner .intro-text h1 {font-size: 32px;}
	.about-section h3.widget-title {font-size: 20px; padding-top: 0px;}
	h3.widget-title span {font-size: 25px;}
	.about-section .sub-head{margin:5px 0; font-size: 17px; line-height: 24px;}
	.ban-img{padding: 20px 20px;}
	h3.widget-title::after{margin-left: 0; margin-top: 10px; display:block;}
	.about-section.why .sub-head {padding: 20px 0;}
	.about-section.why .col-sm-4 {width: 33.3333337%; float: left; margin: 0 0 1.5%;}
	.c-content-feature-1 {padding-right: 0;}
	.col-sm-12.contact-add .col-sm-4 {width: 33.33333333%; float:left;}
	.col-sm-12.contact-add.contact-map .col-sm-4 {width: 96%; margin: auto;}
}

@media only screen and (max-width:736px){
	.nav-tabs > li > a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{font-size:16px;}
	.publication-area .col-md-4, .publication-area .col-md-6 {width: 100%; float: none;}
	.publication-area .col-md-6 {margin-bottom:20px;}
	.publication-area .col-md-4 img.brd, .publication-area .col-md-6 img.brd {border: 1px solid #ddd; height: auto; width: 284px; float: none !important;}
	.news-area{padding:50px 0 20px 0;}
	.news-area .pt-txt {padding-top: 20px !important;}
	.news-area .news-single-box .news-content h3 {min-height: 64px;}
	.news-area .news-single-box .news-content, .about-section {padding: 20px 0;}
	.ban-img p{font-size:14px;}
	.award-img, .gallery-single-item {width: 48%; float:left; height: 226px; margin: 1%;}
    .gallery-single-item img{height:222px;}
	.about-section.why .col-sm-4 {width: 96%; text-align: center; border: 1px solid #ccc; margin: 0 2% 2%; padding: 10px;}
	.c-content-feature-1 > h3 {padding-bottom: 0;}
	.sitemap ul li {width: 49%;}
	.col-sm-12.contact-add .col-sm-4 {width: 50%; float:left; min-height: 166px;}
	.col-sm-12.contact-add .col-sm-4:last-child {min-height: 20px;}
	.col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form .input-box i.fa.fa-arrow-right {left: 58%;}
	.contact-add {margin: 0 0 30px 0;}
	.col-sm-12.contact-add.contact-map .col-sm-4 {width: 100%; margin: auto; padding: 15px;}
}
	
	
@media only screen and (max-width:600px){
	.Welcome-area .welcome-img .col-sm-4, .Welcome-area .welcome-img .col-sm-7{width:100%; float:none;}
	.Welcome-area .welcome-img h3.txt-1, .Welcome-area .welcome-img .txt-q1 {padding: 20px;}
	.Welcome-area .welcome-img p {padding: 0 20px;}
	.Welcome-area .welcome-img img {width: 250px;}
	.nav > li > a {padding: 10px 5px;}
	 h2.client-txt {width: 69%; font-size: 24px;}
	 footer .col-md-4.footer-col, footer .col-md-2, footer .col-md-2.footer-col1, footer .col-md-2.footer-col2 {width: 100%; float:none; min-height:20px;}
	 .col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form .input-box i.fa.fa-arrow-right {left: 61%;}
	
}

@media only screen and (max-width:480px){
	.main-timeline2 .title{font-size:18px; padding-bottom: 8px;}
	.main-timeline2 .description{font-size:12px; letter-spacing:0.5px;}
	.box-bg {padding: 50px 20px 0 20px; box-sizing: border-box;}
	.inf-demo #myCarousel .col-md-4.col-md-offset-1.bg-transparent h3 {font-size: 30px; padding-bottom: 15px;}
	.nav-tabs > li {width: 97%; margin: auto; text-align: left; margin-bottom: 0;}
	.news-single {margin-bottom: 0; width: 100%; float: none;}
	.news-area .news-single-box .news-content h3 {min-height: 20px;}
	#media .col-md-2 {width: 250px; float: none; margin: auto auto 10px;}
	footer .footer-bottom .footer-bottom-inner .footer-no-padding p{padding: 0 1px;}
	.col-md-3.ab-img {float: none; width: 100%;}
	.award-img, .gallery-single-item {width: 98%; float:none; height: auto;}
    .gallery-single-item img{height:auto;}
	
}

@media only screen and (max-width:453px){
.sitemap ul li {width: 100%; float:none;}
.col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form .input-box i.fa.fa-arrow-right {left: 63%;}
.col-sm-12.contact-add .col-sm-4 {width: 100%; float:none; min-height: 20px;}
}

@media only screen and (max-width:385px){
.col-sm-12.contact-add.contact-map .col-sm-4.rqa-box.con-form .input-box i.fa.fa-arrow-right {left: 66%;}
}

/*  Wide Mobile Layout: 480px    */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .home_version_03 header .header-body .mouse-icon-box {
        margin-top: 8%;
    }
    .home_version_03 header .header-body .intro-text p {
        padding: 25px 0 50px;
    }
    .home_version_03 header .header-body .mouse-icon-box .mouse-icon {
        position: relative;
        border: 2px solid #fff;
        border-radius: 16px;
        margin-left: 0px;
        padding: 15px 12px;
        z-index: 10;
    }
    .home_version_03 header .header-body .intro-text p {
        padding: 25px 0 0px;
    }
    .home_version_03 header .header-body .intro-text h1 {
        margin-bottom: 50px !important;
    }
}
