::selection { background: #d13a3f ; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #d13a3f ; color: #FFFFFF; }

/*--Dropdown--*/
a {
    -webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease; 
	}
    
a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    /*opacity: 0.6;*/
    text-decoration: none;
}

body{ border-top:3px solid #008e8e;}
.navbar-default{ border-bottom:1px solid #d5d5d5; background:#fff; }
#header{ }
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.topmenu-block{ float:right;  font-family: 'Roboto', sans-serif; padding-top:20px;}  
.topmenu-row2{ display:block;  float:right; margin-top:15px;}
.topmenu-row2 > li > a{ padding:10px; margin:0 10px; color:#000!important;  font-size:20px; font-weight:400; font-family: 'Roboto', sans-serif;}



/*--Homepage--*/
.topbar{ background:url(../images/topbar-bg.png) no-repeat center top; color:#fff; font-weight:500; font-size:13px;}
.topbar a:hover{ color:#ffd5d7;}
.topbar .flt-lt{ margin-top:7px;}
.contact-no{ background:url(../images/sprite.png) no-repeat 0 3px; padding-left:15px; margin-right:10px;}
.contact-email{ color:#fff; background:url(../images/sprite.png) no-repeat 0 -14px; padding-left:22px;}
.link-login{ text-transform:uppercase; color:#fff;}
.link-login:after{ content: "|"; padding:0 10px; }
.link-signup{text-transform:uppercase; color:#fff; margin-right:10px;}
.link-vendor{text-transform:uppercase; color:#fff; background:#c81214; padding:6px 14px; display:inline-block;}
.link-vendor:hover{ background:#999900; color:#fff!important;}
.navbar-header{ margin:8px 0}
.btn-slide-toggle{ display:none;} 


.searchbox-home{ background:url(../images/black-overlay.png) repeat; position:absolute; padding:10px; top:471px; margin:0px auto; z-index:500; width:80%; left:0px; right:0px;}
.searchbox-home input[type="text"]{ float:left; width:60%; padding:14px 10px 14px 45px; font-size:14px; background:#fff url(../images/icon-search.png) no-repeat 10px 50%; border:0px; border-left:1px solid #ccc;}
.searchbox-home .select-style { float:left; width:26.6%; border:0px; border-radius:0px; margin-bottom:0px;}
.searchbox-home button{float:left; width:20%;}
/* The CSS for SelectBox */
.select-style { padding: 10px 0; font-size:14px; margin: 0 0 10px 0; border: 1px solid #ccc; width: 100%; border-radius: 3px; overflow: hidden; background-color: #fff; background: #fff url(../images/br_down.png) no-repeat 95% 50%;}
.select-style select { padding: 2px 8px; width: 100%; border: none; box-shadow: none; cursor:pointer; outline:none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none;  appearance: none;}
.select-style select:focus {outline: none;}
.homesearch-btn{ background: #FF8503; color: #fff; font-size: 22px; letter-spacing: 0; line-height: 24px; padding: 13px 0; width: 100%; border:0px; text-transform:uppercase; font-weight:bold;}
.featured-wedding h1{ font-size:20px; text-transform:uppercase; color:#000; background:url(../images/header-decoration.jpg) no-repeat bottom center; padding-bottom:40px; margin-bottom:30px; text-align:center;}
.featured-wedding p{ font-size:19px; text-align:center; width:60%; margin:0px auto;}
.featured-listing{ max-width:1280px; margin:40px auto!important;}
.featured-listing, .similar-listing{ margin:40px 0; padding:0px;}
.featured-listing li, .featured-listing-box{ list-style:none; border:1px solid #ccc; width:265px; padding-bottom:10px; float:left; margin:13px;}
.featured-listing img, .similar-listing img{ margin-bottom:10px;}
.featured-listing .featured-name, .similar-listing .featured-name{ float:left; margin-left:10px; padding-right:10px; line-height:20px;}
.featured-listing .featured-name h3, .similar-listing h3{ color:#CC3333; font-size:18px; margin:0px;}
.featured-listing .featured-name .venue-add,  .similar-listing  .feature-name .venue-add{ color:#666; font-size:12px;}
.featured-listing .featured-price, .similar-listing .featured-price{ float:right; margin-right:10px; line-height:16px; padding:5px 0 3px 10px ; border-left:1px solid #ccc; font-size:17px;}
.featured-listing .featured-price .onwards, .similar-listing .featured-price .onwards{ font-size:10px; display:block;}
.similar-listing ul{ margin:0px; padding:0px;}
.similar-listing li{ list-style:none; border:1px solid #ccc; padding-bottom:10px; width:23%; float:left; margin-right:22px;}



.services-weoffer{ padding:100px 0px; background:url(../images/flowers-bg.jpg) no-repeat top center; background-size:cover;}
.services-weoffer h2{ text-align:center; border:0px; margin-bottom:30px;}
.services-weoffer ul{ padding-left:0px;}
.services-weoffer ul li{  margin-bottom:5px; background:url(../images/arrow-pink.png) no-repeat left; list-style:none; padding-left:15px;}
.services-weoffer ul li a{ font-size:14px;}
.testimonials-hp{ background:url(../images/testimonials-bg.jpg) no-repeat; background-size:cover; padding:40px 0px;}
.testimonials-hp h5{float:left; background:url(../images/arrow-testimonials.png) no-repeat right; font-size:30px; color:#FFF; text-transform:uppercase;  width:35%; padding-right:66px;}
.testimonials-hp ul{ width:65%; float:left;}
.testi {display: none;} /*--Mandatory--*/
.testimonials-hp ul li{ color:#fff; font-size:18px; list-style:none; padding-top:10px; min-height:145px;}
.testimonials-hp ul li span{ display:block; margin-top:20px; font-style:italic;}
.ftr-row1{ background:#373737; padding:30px 0px;}
.ftr-row1 h5 a{ font-size:14px; color:#CCCCCC; margin-bottom:12px; color:#FFF; text-transform:uppercase;}
.ftr-row1 h5 a:hover{ color:#CCCC33;}
.ftr-row1 ul { padding:0px;}
.ftr-row1 ul li{ list-style:none; font-size:10px;}
.ftr-row1 ul li a{ color:#999999;}
.ftr-row1 ul li a:hover{ color:#fff;}
.ftr-row2{background:#000; padding:30px 0px;}
.ftr-row2 h6{color:#FFFFFF; text-transform:uppercase; font-size:14px;  display:block; margin-bottom:12px;}
.smicons { float:left; width:25%;}
.smicons a{ margin-right:10px; float:left; width:35px; height:35px; background-image:url(../images/social-icons.png);}
.sm-facebook{ background-position:0px 0px;}
.sm-facebook:hover{background-position:0px 35px;}
.sm-twiiter{background-position:75px 0px;}
.sm-twiiter:hover{background-position:75px 35px;}
.sm-gplus{background-position:35px 0px;}
.sm-gplus:hover{background-position:35px 35px;}
.service-links, .company-links{ float:left; width:25%; }
.service-links ul, .company-links ul{ padding:0px;}
.service-links ul li, .company-links ul li{ list-style:none; font-size:11px;}
.service-links ul li a, .company-links ul li a{ color:#fff;}
.newsletter{ float:left; width:20%;}
.newsletter input[type="text"]{ font-size:14px; width:100%; margin-bottom:12px; display:block; padding:10px; }
.newsletter input[type="button"]{ font-size:14px; color:#fff; width:100%; padding:10px; background:#EF4B51; text-align:center; display:block; }
.newsletter-box{ margin-top:12px; margin-bottom:12px;}
.newsletter-box h5{ color:#FFFFFF;}
.newsletter-box input{ border:0px;}

/*--Inner Page--*/
.content-lt-panel{ background:#fff; margin:20px 0px; 
-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
-ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
Xbackground:#F6F6E9;
border-radius:3px; border:1px solid #ccc;}
.content-lt-panel h4{ background:none; color:#000000; font-size:14px; padding:0px;}
.nav > li > a:hover, .nav > li > a:focus{ background:none; color:#999900;}
.top-search-box{ background:#DCD9D9; padding-bottom:12px;}
.top-search-box .select-style, .topsearch{ width:30.5%; float:left; border-color:#f4f4f4; border-radius:0px;}
.topsearch{ border:1px solid #f7f7f7; padding:14px; font-size:14px;}
.top-search-box .select-style select{ text-overflow:ellipsis}
.top-search-box .find-btn{background:#FF8503; color:#fff; font-size:16px; letter-spacing:0; padding:15px 25px; border:0px; text-transform:uppercase; font-weight:bold;}
.top-search-box .find-btn:hover{ background:#EF4B51; color:#FFFFFF;}
.inner-content{ Xbackground:#F7F7F7;} 
.breadcrumbs{ color:#666; font-size:11px; border-bottom:1px solid #ccc; padding-bottom:10px;}
.breadcrumbs a{ color:#666; }
.breadcrumbs a:after{ content:'/'; padding-left:3px; padding-right:3px;}
.breadcrumbs .container{ }

.list-lt-panel{ padding-left:0px;}
.list-rt-panel{ margin-top:20px; padding-right:0px;}
.list-rt-panel h4{ margin-bottom:15px; border-bottom:1px solid #C33; padding-bottom:10px;}
.list-rt-panel h5{ color:#C33;}
.Page-head { padding:20px 0;}
.Page-head h1 .loc-name{ color:#D74342;}
.Page-head h1{margin:0px;} 
.search-results{ font-size:12px;}
.sortby{ background:#fff; padding:5px; border:1px solid #ccc; }
.sortby > span{ margin-top:3px; margin-right:3px;float:left; color:#999999;}
.sortby .select-style{ float:left; font-size:12px; border:0px; padding:0px 10px 0px 0px; margin-bottom:0px; width:auto; background-position:95% 60%;}
.sortby .select-style select{ padding:0px 2px 0 5px;}
.venue-listings { padding:0px;}
.venue-listings li{ list-style:none; background:#fff; border:1px solid #CCC; padding:10px; margin-bottom:20px;}
.list-photo{ float:left; width:35%;}
.list-photo img{ margin-bottom:10px;}
.photo-icon{ background: url(../images/icon-photo.png) no-repeat left; padding-left:20px; margin-right:20px;}
.pax-icon{ background: url(../images/icon-chair.png) no-repeat left; padding-left:20px;}
.list-rtblock{ float:right; width:62%;}
.list-rtblock .list-info{ float:left; width:64%;}
.list-rtblock .list-info h2{ text-transform:none; margin-bottom:0px; padding-bottom:10px; border:0px;}
.list-rtblock .list-info .venue-add{ padding-bottom:5px; margin-bottom:15px; border-bottom:1px solid #DFDFDF; font-weight:bold;}
.list-rtblock .list-price{ float:right; width:32%;}
.list-rtblock .list-price .veg-price, .list-rtblock .list-price .nonveg-price{padding:20px 10px 20px 50px; background-position:10px 23px;}
.veg-price{ font-weight:bold; margin-bottom:2px; padding:13px 10px 13px 50px; font-size:16px; background:#F6F6F6 url(../images/veg-icon.png) no-repeat 10px 18px; }
.nonveg-price{ font-weight:bold; margin-bottom:2px; padding:13px 10px 13px 50px; font-size:16px; background:#F6F6F6 url(../images/non-veg-icon.png) no-repeat 10px 18px; }
.veg-price span, .nonveg-price span{ display:block; font-size:11px; text-transform:uppercase; line-height:14px; margin-top:3px; font-weight:normal;}
.btn-getquote{ display:block; padding:10px; background:#C33; text-align:center; color:#fff; font-size:14px; text-transform:uppercase;} 
.btn-getquote:hover{ background:#000; color:#fff; }
.desc-short a{ color:#C33;}
.tags, .tags a{ font-style:italic; color:#999;} 
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}
.content-rt-panel{ margin-left:20px;}
.neighbour-loc{ padding:0px; margin-bottom:30px;}
.neighbour-loc li{ list-style:none; display:block; margin-bottom:10px;}
.venue-details .left-col, .venue-details .right-col{ padding:0px;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{ background-color:#666!important; }
.google-ads{ margin-bottom:25px;}
.filter-show{ background:url(../images/icon_Filters.gif) no-repeat left; padding-left:20px; margin-bottom:10px; display:inline-block;}
.filter{ display:none; background:#fafafa; padding:18px; margin-bottom:10px;}
.filter-title { font-weight: 600; margin: 0px 0 5px; font-size: 14px; color: #565654;}
.capacity-list li.active, .capacity-list li.range-item-selected, .capacity-list li:hover { background-color: #999900; color: #fff;}
.capacity-list li { float: left; width: 40px; height: 40px; line-height: 35px; font-size: 11px; font-weight: 600; margin-right: 15px; text-align: center; Xborder-radius: 50%; border: 2px solid #bcbcba; background-color: #fff; cursor: pointer;}
.filter .filter-checkbox{ float:left; margin-right:20px; width:20%; margin-bottom:5px;}
.filter .guestsno{ margin-bottom:20px;}
.filter .filter-venue-type{ border-top:1px solid #ccc; padding-top:25px; margin-bottom:20px;}
.filter input[type=number] { padding:6px;}


.filter:first-child{ border:0px;}
.filter ul{ list-style:none; background:#none; padding:0px; margin:0px;}
.filter input[type=text]{ border:1px solid #CCCCCC; background:#fff; padding:4px; width:83%;}
.bybrand input[type=button]{ margin-left:10px; background:url(../images/arrow-submit.jpg) no-repeat center; border:0px; width:30px; height:30px;}
.bybrand input{ float:left;}
.scrollbar-container{ overflow-y:auto; border:1px solid #ccc;  max-height:140px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.filter-checkbox, .filter-prop{}
.result-numbers{ float:right; padding:1px 8px; font-size:11px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; background:#f5f5f5;}
.filter label{ display:block}

.sort-box{ border-bottom:1px solid #ccc; padding-bottom:15px;}
.sort-box select{ margin-left:10px;}
.listing{ list-style:none; padding:0px;}
.listing > li{margin-top:20px; border:1px solid #ccc;}
.name-price{ display:block; Xmargin-bottom:20px; padding:5px 10px; border-bottom:1px solid #CCCCCC;}
.name-price h3{ float:left; font-size:18px; margin-top:10px; color:#000000;}
.name-price .price{ float:right; margin-top:10px; font-size:16px; Xcolor:#132361; color:#008e8e;}
.listing-box{ padding:20px 15px; }
.listing-box ul li{ margin-bottom:8px;}
.btn-enquiry a{ background:#FF4800; display:inline-block; font-size:14px; color:#FFF; padding:5px 10px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; margin-top:8px;}
.btn-enquiry a:hover{ background:#132361; color:#FFFFFF;}
.listimg{ width:25%; float:left;}
.listspecsbox{ width:55%; float:left;}
	.listspecs-1{ float:left; width:46%;}
	.listspecs-2{ float:left; width:46%;}
.list-action{ width:20%; padding-left:15px; border-left:1px solid #CCCCCC; float:right}

/*--Listing Detail Page--*/
.inner-content{ padding-top:10px;}
.inner-content h1{ font-size:36px; Xfont-weight:bold;}
.inner-content h2{ font-size:18px; margin-top:0px; padding-top:0px; color:#C33; text-transform:none; border:0px; padding-bottom:10px; line-height:24px;}
.inner-content h2 a{color:#C33;}
.inner-content h2 a:hover{color:#000;}
.facilities-info .col-md-3,  .services-info .col-md-3, .occasion-info .col-md-3{ padding-left:0px;}
.facilities-info p{ line-height:16px; margin-bottom:20px;} 
.facilities-info p strong{ display:block;}
.occasion-info ul{ margin-left:0px; padding-left:0px;}
.occasion-info ul li{ list-style:none; Xbackground:url(../images/arrow-pink.png) no-repeat left; padding-left:25px; margin-bottom:10px; margin-left:0px;}
.occasion-info .fac-na{ background:url(../images/close.png) no-repeat left; }
.occasion-info .fac-av{ background:url(../images/right-tick.png) no-repeat left; }
.max-guest{ border:1px solid #ccc; text-align:center; padding:50px 10px 10px; background:url(../images/maximum-guests-icon.png) no-repeat center 10px;  color:#666; font-size:18px; text-transform:uppercase; margin-bottom:10px;}
.max-guest span{ display:block;}
.right-col .list-price{ margin-bottom:10px;}
.right-col .list-price .veg-price, .right-col .list-price .nonveg-price{ font-size:20px;}
.contact-venue-pro{background:#FFFFDD; padding:20px; border:1px solid #CC3333; margin-bottom:10px;}
.contact-venue-pro h4, .allied-serv h4{ color:#CC3333; font-size:18px;}
.contact-venue-pro ul{ margin:0px; padding:0px;}
.contact-venue-pro ul li { list-style:none; margin-bottom:8px;}
.contact-venue-pro ul li input, .contact-venue-pro ul li textarea{ width:100%; padding:5px 10px; resize:none; border:1px solid #E3E3C5;} 
.contact-venue-pro ul li input[type="button"]{ background:#CC3333; font-size:14px; color:#FFF; font-weight:bold;}
.allied-serv{ background:#FAFAFA; padding:20px; border:1px solid #ccc;}
.allied-serv h4{ background:url(../images/h4bg.png) no-repeat left bottom; padding-bottom:10px;}
.allied-serv ul{ margin:0px; padding:0px;}
.allied-serv ul li{ list-style:none; margin-top:5px; padding-top:10px; border-top:1px dotted #000;}
.allied-serv ul li:first-child{ border:0px;}
.guest-price{ display:none;}








.btn-shortlist, .btn-compare{ display:block; margin-bottom:10px;}
.btn-shortlist a{ background:url(../images/ic_whiteheart_filled.png) 5px 0 no-repeat ; padding-left:35px}
.btn-shortlist a.active{background:url(../images/active.png) 5px 0 no-repeat ; padding-left:35px}
.btn-compare{ padding-left:5px;}
.btn-shortlist{}
.orange-bg{ background:#FF4800;}
.orange-bg h5{ color:#FFFFFF; float:left; font-size:18px; margin-top:15px; text-transform:uppercase;}
.orange-bg h5 span{ display:block; font-size:12px; margin-top:4px; color:#E2E2E2; text-transform:none;}

.ftr-part2{ background:#FFECE5; padding:35px 15px;}
.btm-logo, .ftr-links{ float:left;}
.btm-logo{ width:25%;}
.ftr-links{ width:75%;}
.btm-logo img{ display:block; margin-bottom:5px;}
.ftr-links ul li{ list-style:none; width:20%; margin-left:4%; margin-bottom:12px; padding-bottom:3px; display:inline-block; border-bottom:1px solid #ccc;}
.ftr-links ul li a{ display:block;}
.ftr-part3{ padding:10px 0px;}
.ftr-lt{ float:left;}
.ftr-rt{ float:right;}
.show-filter{ display:none; padding:10px 0; color:#132361; border-bottom:1px solid #132361; text-transform:uppercase; font-weight:bold; font-size:16px; margin:0px 0px 10px; cursor:pointer;}
.show-filter-md{padding:10px 0; color:#132361; border-bottom:1px solid #132361; text-transform:uppercase; font-weight:bold; font-size:16px; margin:0px 0px 10px;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{background-color: #284acd;}
/*--Listing Page--*/
.content-block{font-size:15px;}
.detail-lt-panel{ float:left; width:69%; margin-top:25px}
.detail-rt-panel{ float:left; margin-left:40px; width:27%; margin-top:25px}
.prd-properties { padding:0px; margin-left:0px;}
.prd-properties li{ display:inline-block;}
.prd-properties li:before{ content:'|'; padding:0 5px;}
.prd-properties li:first-child:before{ display:none; padding:0px;}
.prd-infobox, .prd-othersellers{ border:1px solid #ccc; padding:25px; margin-bottom:20px;}
.prd-infobox .price{ color:#008e8e; font-size:30px; font-weight:600; margin-bottom:25px;}
.prd-infobox .sold-by{ margin-bottom:15px; padding-left:25px; background:url(../images/dot.png) no-repeat 0 7px;}
/*--Used for Listing Detail Page--*/
.prd-infobox .btn-enquiry a{ padding:8px; font-size:18px; font-weight:600; text-transform:uppercase; width:100%; text-align:center;}
.prd-othersellers{ background:#fafafa;}
.prd-othersellers h4{ color:#000; font-size:18px;}
.prd-othersellers ul{ padding-left:15px; margin-bottom:0px;}
.prd-othersellers ul li{ border-top:1px solid #ccc; padding:15px 0;}
.prd-othersellers ul li:first-child{ border:0px; padding-top:0px;}
.prd-othersellers .price{color:#008e8e; font-weight:600;}
.prd-othersellers .btn-enquiry a{ background:#fff; color:#ff4800; border:1px solid #ccc; padding:3px 8px; font-size:12px; text-transform:uppercase;}
.prd-othersellers .btn-enquiry a:hover{background:#ff4800; color:#fff;}
.nav-tabs{ border:0px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{ border-bottom:2px solid #f23d18; border-top:0px; border-left:0px; border-right:0px; font-weight:600;}
.nav-tabs > li > a{ color:#666; border-radius:0px;}
.nav-tabs > li > a:hover{ background:none; border-color:#fff; }
.tab-pane{ padding:15px; border:1px solid #ccc; margin-top:15px;}
.panel-title > a{ display:block;}
.prd-specs { margin:0px; padding:0px;}
.prd-specs li{ border-top:1px solid #ccc; padding:12px 10px; list-style:none;}
.prd-specs li:first-child{ border:0px;}
.prd-specs .title{ width:49%; float:left; font-weight:bold;}
.prd-specs .property{ width:49%; float:left}
.panel-default > .panel-heading{ background:#efefef; border-radius:0}
.panel-group .panel{ border-radius:0px;}
.google-ads { margin-bottom:25px;}
.experthelp img{ border:1px solid #ccc;}
.youmaylike{ margin-top:50px;}
.youmaylike h3{ font-size:24px; color:#333; text-align:center; font-weight:normal; text-transform:uppercase; margin-bottom:25px;}
.youmaylike h1, .featured-gen h4{ font-size:18px; color:#000; font-weight:600;}
.youmaylike p{ line-height:18px;}
.youmaylike .content-slider li{ border:1px solid #ccc; padding:10px; text-align:center;}
.btn-learnmore{ background:#FF4800; display:inline-block; font-size:12px; text-transform:uppercase; font-weight:bold; color:#FFF; padding:5px 8px; border-radious }
.btn-learnmore:hover{ background:#132361; color:#fff;}
/*--Get Quote CSS--*/
.mandatory{ color:#FF0000;}
.quotebox{ border:4px solid #fff;}
.quote-head{ padding:10px; background:#c33;}
.quote-head .col-md-3{ text-align:center;}
.quote-head h3{ font-size:22px; padding-bottom:7px;}
.quote-head h3, .quote-head p{ margin:0px 0px 5px 0px; color:#fff;}
.quote-content{ padding:15px 30px;}
.quote-content ul{ margin:20px 0; padding:0px;}
.quote-content ul li{ list-style:none; margin-bottom:20px; margin-right:20px; float:left; width:30%;}
.quote-content ul li label{ Xfloat:left; min-width:140px}
.quote-content .select-style { padding:0px; font-size:12px; margin-bottom:0px; Xwidth:50%;}
.quote-content ul li input[type="text"]{ Xwidth:50%;}
.quote-content ul li input[type="text"]{ width:100%; padding:4px; border:1px solid #ccc; border-radius:3px;}
.quote-content .comments { display:block;  margin-bottom:10px; width:100%; float:none;}
.quote-content .comments textarea{ width:96%; resize:none; padding:4px; border:1px solid #ccc; border-radius:3px;}
.submit-quote{ background: #FF8503;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    padding:5px 10px;
    border: 0px;
    text-transform: uppercase;
    font-weight: bold;
}

/*--Login CSS--*/
.loginbox{ padding:20px; border:4px solid #FF8503;}
.loginbox h5{ color:#000; text-transform:uppercase; font-size:20px; margin-bottom:8px; }
.loginbox p{ line-height:16px;}
#login .modal-dialog, #register .modal-dialog{ width:320px;}
#getquote .modal-dialog{ width:50%;}
.vp-name{ color:#c33;}
.login-rtpanel, .register-rtpanel{ margin-top:30px;}
.register-rtpanel input[type=text], .register-rtpanel input[type=password]{border:1px solid #ccc; padding:5px; display:block; margin-bottom:15px; color:#999; width:90%;}
.rememberme{ display:block; color:#999;}
.email-inp, .pwd-inp{ border:1px solid #ccc; padding:5px; display:block; margin-bottom:15px; color:#999; width:100%;}
.btn-login{ padding:10px; text-align:center; border:0px; width:100%; text-align:center; display:block; color:#fff; font-size:16px; background:#D84645; }
.btn-login:hover{ background:#000;}
.btn-signup{padding:10px;width:45%; text-align:center; display:inline-block; border:1px solid #fb7121; color:#fb7121; background:#fff; font-size:16px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.btn-signup:hover{background:#fb7121; color:#fff;}
.btn-back{padding:10px;width:45%; text-align:center; display:inline-block; border:1px solid #fb7121; color:#fb7121; background:#fff; font-size:16px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.btn-back:hover{background:#fb7121; color:#fff;}
.link-forgot{  display:block; color:#C33; font-size:12px; margin-top:5px;} 
.loginWithFbGp p{ color:#999; }
.fbLoginBtn{color:#3b589e; border:1px solid #3b589e;}
.fbLoginBtn:hover{background:#3b589e }
.fbLoginBtn:hover, .gplusLoginBtn:hover{ color:#fff;}
.gplusLoginBtn {border:1px solid #d44936;}
.gplusLoginBtn:hover{background: #d44936 ; }
.fbLoginBtn, .gplusLoginBtn {
    Xcolor: #fff;
    height: 40px;
    text-align: left;
    width: 40%;
	display:block;
	-moz-user-select: none;
    background-image: none;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    outline: medium none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
	margin-bottom:15px;

}
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.btn-edituser{ background:#09F; float:right; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; font-size:11px; padding:1px 10px; color:#fff; font-weight:bold; border:2px solid #fff; text-transform:uppercase; }
.btn-edituser:hover{ background:#FFF; border:2px solid #09F; }
.myaccount h3.panel-title{ display:inline-block;}
.sidebarlinks h3{ color:#132361; border-bottom:1px solid #999; padding-bottom:15px;}

.categories li, .categories li a:hover{ background-image:url(../images/arrowcategory.png); background-repeat:no-repeat; background-position:left;}
/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.change-photo{
    background-color: #ff4800;
    padding: 5px 10px 5px 10px;
    border-radius: 27px; -webkit-border-radius: 27px; -moz-border-radius: 27px;
}
.label.label-default.change-photo a{ color:#fff;}
.label.label-default.change-photo:hover{ background:#06F;}

/*
table.dataTable thead .sorting::after {
    color: rgba(50, 50, 50, 0.5);
    content: "";
    float: right;
    font-family: fontawesome;
}
*/

table.dataTable thead > tr > th{ padding:10px;}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      /*width: 70%;*/
      margin: auto;
  }
  
  #myCarousel {
 /*padding-top: 5%;*/
}

#myCarousel{ max-width:1366px; margin:0 auto; position:relative;}
.carousel-indicators-new{ max-width:1366px; margin:0px auto; position:absolute; z-index:15; bottom:0px; width:100%; display:block; text-align:center; padding-bottom:10px;}
.carousel-indicators-new li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators-new .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}


/*--To make bootstrap carousal fade-in fade-out statrs-*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/*--To make bootstrap carousal fade-in fade-out ends-*/


.featured-gen .lslide h3 {font-size: 18px; color: #000; font-weight: 600;}
.featured-gen .lslide p{line-height: 18px; font-size:14px;}


.latest-news:before{ clear:both;}
.latest-news{ background:#f0f0f0; padding:5px 0px; border-bottom:1px #d0d0d0 solid;}
.latest-news ul, .latest-news h5{ float:left; margin:0px; padding:0px;}
.latest-news h5{ margin-right:10px; margin-top:3px; font-weight:bold;}
.latest-news ul li{ list-style:none;}
.news {display: none;} /*--Mandatory--*/

.featured-gen h2{ font-size:24px; color:#333; border-bottom:0px; text-align:center; text-transform:uppercase; font-weight:normal;}
.featured-gen .nav-tabs > li{ width:33%; text-align:center; color:#666; font-size:18px; border-bottom:1px solid #ccc;}


#slider1, #slider2, #slider3 { height: 1%; margin: 30px 0 0; overflow: hidden; position: relative; padding: 0 0px 10px;}
#slider1 .viewport, #slider2 .viewport, #slider3 .viewport { height: 390px; overflow: hidden; position: relative; width:98%;  margin: 0 auto;}
#slider1 .buttons, #slider2 .buttons, #slider3 .buttons { background: #C01313; border-radius: 35px; display: block; top: 45%; position: absolute; z-index:500; width: 35px; height: 35px; color: #fff; font-weight: bold; text-align: center; line-height: 35px; text-decoration: none; font-size: 22px;}
#slider1 .prev, #slider2 .prev, #slider3 .prev{ left: 0px; right: auto;}
#slider1 .next, #slider2 .next, #slider3 .next { right: 0; left: auto;}
#slider1 .buttons:hover, #slider2 .buttons:hover, #slider3 .buttons:hover{ color: #C01313; background: #fff;}
#slider1 .disable {visibility: hidden;}
#slider1 .overview, #slider2 .overview, #slider3 .overview{ list-style: none; position: absolute; padding: 0; margin: 0; Xwidth: 240px; left: 0; top: 0;}
#slider1 .overview li, #slider2 .overview li, #slider3 .overview li{ text-align:center; float: left; margin: 0 15px; padding: 15px; height: 386px; width: 250px; border: 1px solid #dcdcdc; }
#slider1 .overview li:first-child{ }

/*--For Carousal Boxes--*/
#Carousel-boxes ul.thumbnails, #Carousel-boxes2 ul.thumbnails, #Carousel-boxes3 ul.thumbnails{ margin:0 auto; padding:0px;}
#Carousel-boxes ul.thumbnails:after, #Carousel-boxes2 ul.thumbnails:after, #Carousel-boxes3 ul.thumbnails:after{ clear:both;}
/* Carousel Control */ 
.featured-gen .thumbnails li{ border:1px solid #ccc; width:273px; float:left; margin:0 5px; text-align:center;}
#Carousel-boxes .control-box, #Carousel-boxes2 .control-box, #Carousel-boxes3 .control-box { text-align: right;  width: 100%;}
#Carousel-boxes .carousel-control, #Carousel-boxes2 .carousel-control, #Carousel-boxes3 .carousel-control{ background: #666; border: 0px; border-radius: 0px; display: inline-block; font-size: 34px; font-weight: 200; line-height: 18px; opacity: 0.5; padding: 4px 10px 0px; position: static; height: 30px; width: 15px;}
#Carousel-boxes .thumbnails li, #Carousel-boxes2 .thumbnails li, #Carousel-boxes3 .thumbnails li{ list-style:none;}
#Carousel-boxes .thumbnails li > .boxpanel .caption, #Carousel-boxes2 .thumbnails li > .boxpanel .caption, #Carousel-boxes3 .thumbnails li > .boxpanel .caption{  background:#fff !important;  padding:10px}
.featured-gen .tab-pane{ margin-top:40px;}
#Carousel-boxes .thumbnails .prd-img, #Carousel-boxes2 .thumbnails .prd-img, #Carousel-boxes3 .thumbnails .prd-img{ margin-top:10px;}
#Carousel-boxes .boxpanel p, #Carousel-boxes2 .boxpanel p, #Carousel-boxes3 .boxpanel p{ font-size:14px;}
.control-box { position:relative;}
.control-box .next-button{ position:absolute; right:-15px; z-index:50; bottom:170px; border-radius:0; padding:15px 15px;}
.control-box .prev-button{ position:absolute; left:-20px; z-index:50; bottom:170px; border-radius:0; padding:15px 15px;}
.control-box .next-button:after{ content: "\003E";  font-size:22px;}
.control-box .prev-button:before{ content: "\003C";  font-size:22px;}







/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}
.service-center{ background:url(../images/search-bg.jpg) center no-repeat; background-size:cover}
.service-center h3{ font-size:24px; text-align:center; color:#fff; text-transform:uppercase; margin-bottom:20px;}
.blk-overlay{ background:url(../images/black-overlay.png) repeat; padding:40px; position:relative} 
.blk-overlay .select-style{ padding:2px 0; float:left; width:22%; margin-right:1.5%;}
.searchgo-btn{ background:#febe01 url(../images/arrow-go.png) no-repeat 80%; color:#000; font-size:16px; letter-spacing:0; line-height:24px; padding:6px 30px 6px 10px; width:auto; border:0px; text-transform:uppercase; font-weight:bold; float:left;}
.gen-img{ position:absolute; right:0px; top:-70px; width:270px;}
.brands-search { padding:60px 0}
.brands-search h3, .popular-loc h3{ font-size:24px; text-align:center; font-weight:normal; color:#666; text-transform:uppercase; margin-bottom:20px;}
.brands-search ul, .popular-loc ul{ margin:0px; padding:0px;}
.brands-search li{ width:16.1%; margin:0 4px 4px 0; list-style:none; float:left; border:1px solid #ccc; text-align:center;}
.popular-loc{}
.popular-loc li{ width:12.5%; margin:0 20px 20px 0; list-style:none; float:left; border:1px solid #ccc; text-align:center; position:relative;}
.popular-loc a{background:url(../images/black-overlay.png) repeat; width:100%; height:100px;display:block; position:absolute; }
.popular-loc .loc-name{ padding:10px; color:#fff; font-size:16px; font-weight:bold; display:block; position:absolute; bottom:0px; left:0; right:0;}
.popular-loc a:hover span{ color:#ff4800 ;}
.rental-service{ position:relative;}
.rental-service h3{ font-size:24px; color:#000; position:absolute; top:0px; left:0; right:0; width:398px; margin:18px auto;}
.rental-service h3 span{ background:#fff; padding:10px; }
.rental-service-box{ border:1px solid #999; padding:40px 25px 25px;}
.rental-service ul{ margin:0px; padding:0px;}
.rental-service ul li{ list-style:none; background: url(../images/arrow-orange.png) no-repeat 0 5px; padding-left:15px; font-size:14px; margin-bottom:10px; line-height:18px;}



/*--Testing--*/
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:99999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}

.nbs-flexisel-inner {
    position: relative;
    overflow: hidden;
    float:left;
    width:100%;
    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;  
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
	Xwidth:240px!important;
}
.nbs-flexisel-item img {
    max-width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;      
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top:40%;
    background: rgba(0,0,0,0.5);
    color: #fff;     
}

.nbs-flexisel-nav-left {
    left: 10px;
}

.nbs-flexisel-nav-left:before {
    content: "<"
}

.nbs-flexisel-nav-left.disabled {
    opacity: 0.4;
}

.nbs-flexisel-nav-right {
    right: 5px;    
}

.nbs-flexisel-nav-right:before {
    content: ">"
}

.nbs-flexisel-nav-right.disabled {
    opacity: 0.4;
}


/*--Price Range Filter--*/
#ranged-value{ width:95%; max-width:250px;} .fsslider{position:relative;min-width:150px;height:24px;display:inline-block;width:100%;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#000;text-align:center;line-height:24px;}.fsslider>*{position:absolute;top:50%;cursor:pointer}.fsslider>.fsfull-value,.fsslider>.fssel-value{margin-top:-1px;height:2px;left:0;right:0}.fsslider>.fsfull-value{width:100%;background:#d8d8d8}.fsslider>.fscaret,.fsslider>.fssel-left,.fsslider>.fssel-right{background:#ff4800;font-weight:bold;color:#fff;box-shadow:1px 1px 3px rgba(0,0,0,.2);-moz-box-shadow:1px 1px 3px rgba(0,0,0,.2);-webkit-box-shadow:1px 1px 3px rgba(0,0,0,.2);height:100%;min-width:30px;top:0;padding-left:5px;padding-right:5px}.fsslider>.fssel-value{background:#008e8e;height:4px;margin-top:-2px;right:50%}.fsslider.fsdisabled{color:#c8c8c8}.fsslider.fsdisabled>.fssel-value{background:#c8c8c8}

.userpic img{ max-width:100px!important;}
.admin-bg{ background:#F6F6F6;}
.sidebarlinks h3{ padding:5px 15px; display:none;}
.content-lt-panel{ padding:0px;}
.content-lt-panel .nav > li { background:none; padding:0px 15px; border-bottom:1px solid #eee;}
.content-lt-panel .nav > li:hover{ background:#f7f7f7;}
.content-lt-panel .nav > li.active{ background:#f7f7f7;}
.content-lt-panel .nav > li.active a{ color:#000000;}
.content-lt-panel .nav > li > a{ padding:8px 0; color:#31708f;  Xfont-size:12px;}
.content-lt-panel .nav > li > a:hover{ background:none; color:#000000;}

.howitworks{ background:#f6f6f6; border-top:2px solid #FF8503; padding-top:90px; padding-bottom:90px;}
.howitworks h2{ border-bottom:0px;}
.howitworks .text-primary{ color:#FF8503;}
.btn-plan{ display:inline-block; background:#d13a3f; padding:7px 10px; font-weight:bold; color:#fff; font-size:16px; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; margin-top:25px; text-transform:uppercase;}
.btn-plan:hover{ background:#FF8503; color:#fff;}

.howitworks .col-md-4 {
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.howitworks .col-md-4::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.howitworks .col-md-4:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  background:#fff;
  z-index:999;
}

.howitworks .col-md-4:hover::after {
    opacity: 1;
}






/*--Owl Carousel--*/
.owl-carousel{position:relative;}
.owl-nav{ font-size:22px; position:absolute; top:37%; z-index:999; width:100%;}
.owl-nav .owl-prev,
.owl-nav .owl-next{padding: 7px;
    font-size: 14px;
    box-shadow: 1px 2px 10px -1px #f7f7f7;
    background-color: hsla(0,0%,100%,.98);
    cursor: pointer;
    transition: box-shadow .2s ease;}

.owl-nav .owl-prev{ left:0px; position:absolute;}
.owl-nav .owl-next{ right:0px; position:absolute;}
.owl-nav .disabled{ color:#f4f4f4; display:none!important;  cursor:default!important;}

.browse-loc, .browse-type{float:left; border:1px solid #ccc; text-align:center; position:relative; width:153px; margin:13px;}
.browse-loc a{background:url(../images/black-overlay.png) repeat; width:100%; height:108px;display:block; position:absolute; z-index:50; }
.browse-loc img, .browse-type img{ margin-bottom:0px;}
.browse-loc .loc-name{ padding:10px; color:#fff; font-size:16px; font-weight:bold; display:block; position:absolute; bottom:0px; left:0; right:0;}
.browse-loc a:hover span{ color:#d13a3f ;}
.owl-carousel-location{ background:#f6f6f6;}

.browse-type a{ padding:5px; display:block; background:#f6f6f6;}