/*************************
*******Typography******
**************************/


body {
  background: #fff;
  font-size:15px; font-family: 'Roboto', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
  padding-top:90px;
}
img{ max-width:100%; height:auto;}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; 
  font-family: 'Roboto', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 30px;
  color:#000;
  font-weight:normal;
}

h2{
  font-size: 20px;
  color:#F24F4F;
  text-transform:uppercase;
  padding-bottom:20px;
  border-bottom:1px solid #ccc;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 600;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #000;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #F00;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

body > section {
  padding: 30px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}



.nopad-right{ padding-right:0px;}
.nopad-all{ padding:0px;}

.container-fluid{ width:95%; margin:0px auto;}


/*--Checkbox & Radio Buttons--*/
.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    Xmargin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
	margin:0px;
	font-weight:normal;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
	line-height:13px
}


.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #f5f5f5;
    color: #000;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 0px solid #ddd; /* focus style */
}

.clear{ clear:both;}
.flt-lt{ float:left;}
.flt-rt{ float:right;}
.custom-select{background: #fff;
    border: 1px solid #CCCCCC;
	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; 
    opacity: 1;
    -webkit-appearance: menulist-button;     line-height: 30px;
    height: 30px;    
    width: 160px;
	}

.btn-compare .checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
	border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;
	line-height:13px
}
.btn-compare .checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #fff;
    color: #FF4800;
}
.navbar-default .navbar-nav > li > a:hover{ color:#000;}
.dropdown-menu > li > a:hover{ color:#ff4800;}
