@media (min-width: 769px) {
	/*--Dropdown On Hover--*/
.show-on-hover:hover > ul.dropdown-menu {
   display: block;    
}
}
/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
 display: block;
 -webkit-animation: fadeInUp 400ms;
 animation: fadeInUp 400ms;
}
 #portfolio .row {
 margin-left: -10px;
 margin-right: -10px;
}
.featured img {
width:68%;
}
.detailed-news .featured img {
width:100%
}

}

@media (min-width: 981px) and (max-width: 1024px) {
.navbar-default .navbar-nav > li > a {padding-left:0px; padding-right:0px;}
.featured-listing li, .featured-listing-box { width:217px; position:relative;}
.featured-price{ position:absolute; background:#fff; top:117px; right:-10px; border-top:1px solid #ccc; display:inline-block; float:none; padding-right:10px!important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
.similar-listing li{ position:relative; width:22.6%;}
.similar-listing .featured-price{ top:108px;}
.top-search-box .select-style{ width:30%;}
}

@media (min-width: 801px) and (max-width: 980px) {
.searchbox-home{top:180px;}
.featured-listing li, .featured-listing-box { width:284px;}
.featured-wedding p{ width:90%;}
.top-search-box .select-style{ width:30%;}
.similar-listing li{ width:22.5%;}
.list-photo{ width:30%;}
.list-rtblock{ width:68%;}
.list-rtblock .list-price .veg-price, .list-rtblock .list-price .nonveg-price{ padding-top:10px; padding-bottom:10px;}
.desc-short{ display:none; line-height:18px;}
.list-rtblock .list-info{ width:55%;}
.list-rtblock .list-price{ width:40%;} 
.filter .checkbox-custom + .checkbox-custom-label::before{ display:block;} 
#getquote .modal-dialog{ width:69%;}
}


@media (min-width: 769px) and (max-width: 800px) {
.featured-listing li, .featured-listing-box { width:227px; position:relative;}
.featured-price{ position:absolute; background:#fff; top:117px; right:-10px; border-top:1px solid #ccc; display:inline-block; float:none; padding-right:10px!important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
.searchbox-home{ top:180px;}
.searchbox-home .select-style{ width:25%;}
.searchbox-home input[type="text"]{ width:55%;}
.top-search-box .select-style{ width:29%;}
.topmenu-row2 > li > a{ font-size:14px;}
.similar-listing li{ width:22%; position:relative;}
.similar-listing .featured-price{ top:74px;}
.inner-content h2{ font-size:16px; line-height:20px;}
.list-photo{ width:30%;}
.list-rtblock{ width:68%;}
.list-rtblock .list-price .veg-price, .list-rtblock .list-price .nonveg-price{ padding-top:10px; padding-bottom:10px;}
.desc-short{ Xdisplay:none; line-height:18px;}
.list-rtblock .list-info{ width:55%;}
.list-rtblock .list-price{ width:40%;} 
.filter .checkbox-custom + .checkbox-custom-label::before{ display:block;} 
.filter .filter-checkbox{ width:28%;}
#getquote .modal-dialog{ width:69%;}
.quote-content ul li{ width:29%;}
.quote-content{ padding:15px;} 
}

@media (min-width: 641px) and (max-width: 768px) {
.searchbox-home{ top:150px;}
.featured-listing li, .featured-listing-box { width:217px; position:relative;}
.featured-price{ position:absolute; background:#fff; top:110px; right:-10px; border-top:1px solid #ccc; display:inline-block; float:none; padding-right:10px!important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
.ftr-row1 ul li{ line-height:15px;}
.searchbox-home .select-style{ width:25%;}
.searchbox-home input[type="text"]{ width:55%;}
.top-search-box .select-style{ width:29%;}
.similar-listing li{ width:23.5%; margin-right:10px; position:relative;}
.similar-listing .featured-price{ top:76px;}
.inner-content h2{ font-size:16px; line-height:20px;}
.list-photo{ width:30%;}
.list-rtblock{ width:68%;}
.list-rtblock .list-price .veg-price, .list-rtblock .list-price .nonveg-price{ padding-top:10px; padding-bottom:10px;}
.desc-short{ Xdisplay:none; line-height:18px;}
.list-rtblock .list-info{ width:55%;}
.list-rtblock .list-price{ width:40%;} 
.filter .checkbox-custom + .checkbox-custom-label::before{ display:block;} 
.filter .filter-checkbox{ width:28%;}
#getquote .modal-dialog{ width:69%;}
.quote-content ul li{ width:29%;}
.quote-content{ padding:15px;}
}

@media (min-width: 481px) and (max-width: 640px) {
body .container {width:600px!important;}
.searchbox-home{ top:100px;}
.featured-listing li, .featured-listing-box { width:275px; }
.homesearch-btn{ font-size:18px;}
.featured-wedding p{ width:100%;}
.searchbox-home .select-style{ width:30%;}
.searchbox-home input[type="text"]{ width:50%;}
.top-search-box .select-style{ width:29%; font-size:13px;}
.top-search-box .find-btn{ padding:15px;}
.similar-listing li{ width:46%; margin-right:20px; margin-bottom:20px;}
.inner-content h2{ font-size:16px; line-height:20px;}
.list-photo{ width:30%;}
.list-rtblock{ width:68%;}
.list-rtblock .list-price .veg-price, .list-rtblock .list-price .nonveg-price{ padding-top:10px; padding-bottom:10px;}
.desc-short{ Xdisplay:none; line-height:18px;}
.list-rtblock .list-info{ width:55%;}
.list-rtblock .list-price{ width:40%;}
.photo-icon{ display:block;}
.Page-head .flt-lt{ width:70%}
.filter .filter-checkbox{ width:29%;}
#getquote .modal-dialog{ width:69%; margin:0px auto;}
.quote-content ul li{ width:28%;}
.quote-content{ padding:15px;}
}


@media (min-width: 361px) and (max-width: 480px) {
.searchbox-home{ top:100px;}
.homesearch-btn{ font-size:14px;}
.featured-listing li, .featured-listing-box { width:202px; position:relative;}
.featured-price{ position:absolute; background:#fff; top:100px; right:-10px; border-top:1px solid #ccc; display:inline-block; float:none; padding-right:10px!important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
.homesearch-btn{ font-size:16px;}
.searchbox-home .select-style{ width:35%;}
.searchbox-home input[type="text"]{ width:45%;}
.top-search-box .select-style{ padding:0px; width:38%; margin-right:12px; font-size:13px;}
.top-search-box .find-btn{ padding:5px; font-size:14px;}
.similar-listing li{ width:44%; position:relative; margin-right:20px; margin-bottom:20px;}
.inner-content h2{ font-size:16px; line-height:20px;}
.list-photo{ text-align:center;}
.list-photo, .list-rtblock{ width:100%; float:none; display:block;}
.list-photo img{ display:block; text-align:center; width:100%;}
.list-rtblock{ margin-top:20px;}
.desc-short{ line-height:18px;}
.list-rtblock .list-info{ width:55%;}
.list-rtblock .list-price{ width:40%;}
.Page-head .flt-rt{ margin-top:30px; float:left;}
.filter .filter-checkbox{ width:42%;}
#getquote .modal-dialog{ width:69%; margin:0px auto;}
.quote-content ul li{ width:42%;}
.quote-content{ padding:0 15px;}
}

@media (min-width: 321px) and (max-width: 360px) {
.searchbox-home{ top:15px;}
.homesearch-btn{ font-size:14px;}
.searchbox-home input[type="text"],
.searchbox-home .select-style,
.searchbox-home button{ float:none; width:100%; padding:5px;}
.searchbox-home input[type="text"]{ background-image:none; padding-left:15px; padding-top:10px; padding-bottom:10px; border-right:0px; border-bottom:1px solid #ccc;}
.featured-listing li, .featured-listing-box { margin:13px auto; float:none;}
.top-search-box .select-style{ padding:0px; width:38%; margin-right:12px; font-size:13px;}
.top-search-box .find-btn{ padding:5px; font-size:14px;}
.similar-listing ul{ width:293px; margin:0px auto}
.similar-listing li{ width:100%; margin-bottom:10px;}
.list-photo{ text-align:center;}
.list-photo, .list-rtblock, .list-rtblock .list-info, .list-rtblock .list-price{ width:100%; float:none; display:block;}
.list-photo img{ display:block; text-align:center; width:100%;}
.list-rtblock{ margin-top:20px;}
.desc-short{ line-height:18px;}
.Page-head .flt-rt{ margin-top:30px; float:left;}
.filter .checkbox-custom + .checkbox-custom-label::before{ display:block;} 
.filter .filter-checkbox{ width:41%;}
.guestsno input[type=number]{ float:none; clear:both;  margin-top:20px; display:table-cell;}
#getquote .modal-dialog{ width:85%; margin:0px auto;}
.quote-content ul li{ width:42%;}
.quote-content{ padding:0 15px;}
}

@media (min-width: 220px) and (max-width: 320px) {
	.navbar-brand{ padding-left:10px; padding-right:0px;}
	.navbar-brand img{ width:96%;}
	.searchbox-home{ top:10px;}
	.homesearch-btn{ font-size:14px;}
	.searchbox-home input[type="text"],
	.searchbox-home .select-style,
	.searchbox-home button{ float:none; width:100%; padding:5px;}
	.searchbox-home input[type="text"]{ background-image:none; padding-left:11px; padding-top:4px; padding-bottom:4px; border-left:0px; border-top:1px solid #f7f7f7;}
	.searchbox-home .select-style{ padding:3px 0px;}
	.featured-listing li, .featured-listing-box { margin:5px auto; }
	.top-search-box .select-style{ padding:0px; width:38%;  margin-right:12px; font-size:13px;}
	.top-search-box .find-btn{ padding:5px; font-size:14px;}
	.similar-listing ul{ width:293px; margin:0px auto}
	.similar-listing li{ width:100%; margin-bottom:10px;}
	.list-photo{ text-align:center;}
	.list-photo, .list-rtblock, .list-rtblock .list-info, .list-rtblock .list-price{ width:100%; float:none; display:block;}
	.list-photo img{ display:block; text-align:center; width:100%;}
	.list-rtblock{ margin-top:20px;}
	.desc-short{ line-height:18px;}
	.Page-head .flt-rt{ margin-top:30px; float:left;}
	.filter .checkbox-custom + .checkbox-custom-label::before{ display:block;} 
	.filter .filter-checkbox{ width:40%;}
	.capacity-list li{ margin-right:10px;}
	.guestsno input[type=number]{ float:none; clear:both;  margin-top:20px; display:table-cell;}
	#getquote .modal-dialog{ width:85%; margin:0px auto;}
	.quote-content ul li{ width:100%; float:none; margin-bottom:5px;}
	.quote-content{ padding:0 15px 15px;}	

}

@media (max-width: 360px) { 
.ftr-row1 .col-md-3{ display:block; width:100%; float:none;}
.service-links, .company-links{ width:50%!important;}
.mob-clear{ clear:both;}
.newsletter:before{display:table; clear:both;}
.newsletter { width:100%!important; float:none;}
}
@media (max-width: 480px) { 
	.services-weoffer { padding:40px 0;}
	.services-weoffer ul{ margin-bottom:0px;}
	.smicons{ width:100%; float:none; display:block; margin-bottom:20px;}
	.smicons:after{display:table;}
	.service-links, .company-links, .newsletter { width:30%;}
	.ftr-part3 .ftr-lt, .ftr-part3 .ftr-rt{ float:none; text-align:center;}
}
@media (max-width: 640px) { 
	.contact-no{ margin-bottom:10px;}
	.topbar{ display:none; background-color:#d23a3f;}
	.btn-slide-toggle{ display:block; border-top:4px solid #d23a3f;}
	.btn-slide-toggle img{ vertical-align:top;}
	.topbar .flt-lt, .topbar .flt-rt{ margin-bottom:10px; float:none; text-align:center;}
	.featured-wedding p{ width:100%;}
	.services-weoffer .col-md-3 { width:100%;}
	.testimonials-hp h5, .testimonials-hp ul{ background:none; width:100%; padding-left:0px; display:block; float:none;}
	.content-rt-block, .content-rt-panel{ padding-left:0px; margin-left:0px; padding-right:0px;}
	.top-search-box .select-style select{ width:95%;}
	.guest-price{ display:block!important; border-bottom:1px solid #ccc; margin-bottom:20px; padding-bottom:20px;}
	.guest-price .max-guest, .guest-price .list-price{ width:50%; float:left;}
	.guest-price .max-guest{padding: 60px 10px 25px;}
	.right-col .max-guest, .right-col .list-price{ display:none;}
	.filter .row{ margin-left:0px; margin-right:0px;}
	.quote-head .col-md-3{ display:none;}
	.quote-head .col-md-9 { padding:0 18px;}
	.quote-head p{ display:none;}
}

@media (max-width: 768px) { 
.container {width:750px!important;}
.topmenu-block{ background:#fff; display:block; float:none;}
.topmenu-block > ul{ width:100%;} 
.navbar-nav li{ width:100%;}
.topmenu-row2{ float:none;}
.dropdown-menu{ position:relative; width:100%; box-shadow:none; background:#f7f7f7; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{  font-weight:bold; color:#000; padding-left:10px;  border:1px solid #ccc; border-bottom:0px;}
.topmenu-row2 > li > a{ margin-left:0px; margin-right:0px;}

}

@media (max-width: 800px) { 

}

@media (min-width: 800px) and (max-width: 979px) {
.container {width:780px!important;}
.topmenu-block{ background:#fff; display:block; float:none;}
}

@media (max-width: 980px) { 
.container {width:960px;}
.navbar-toggle{ margin-top:10px;}
.navbar-default .navbar-nav > li > a {padding-left:0px; padding-right:0px;}



}

/*--To show the mobile menu on this point--*/
@media (min-width: 640px) and (max-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}


/*--Nexus 5X Device / Iphone 6plus Specific--*/
@media (min-width: 410px) and (max-width: 414px) {
	.featured-listing li, .featured-listing-box { min-height:210px; width:169px!important;}
	.featured-price{ top:76px!important;}
}

@media (min-width: 599px) and (max-width: 600px) {
	body .featured-listing li, .featured-listing-box { width:259px!important; position:relative;}
	.featured-price{ position:absolute; background:#fff; top:140px; right:-10px; border-top:1px solid #ccc; display:inline-block; float:none; padding-right:10px!important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
}


/*--Nexus 5X Device / Iphone 6plus Specific--*/
@media (min-width: 731px) and (max-width: 732px) {
	.featured-listing{ margin:0px auto; width:94%;}
	body .featured-listing li, .featured-listing-box { width:190px!important;}
	body .featured-price{ top:91px!important;}
}

/*--Nexus 6P Device Specific--*/
@media (min-width: 725px) and (max-width: 736px) {
	.featured-listing li, .featured-listing-box { width:205px!important;}
	.featured-price{ top:102px!important;}
	.featured-wedding p{ width:90%;}
}

/*--Iphone 5 Device Specific--*/
@media (min-width: 560px) and (max-width: 568px) {
	.featured-listing li, .featured-listing-box { width:241px; position:relative;}
	.featured-price{ position:absolute; background:#fff; top:127px; right:-10px; border-top:1px solid #ccc; display:inline-block; float:none; padding-right:10px!important; -webkit-border-top-left-radius: 2px; -moz-border-radius-topleft: 2px; border-top-left-radius: 2px;}
}


/*--Iphone 6 Device Specific Landscape--*/
@media (min-width: 660px) and (max-width: 667px) {
	.featured-wedding p{ width:90%;}
	.featured-listing li, .featured-listing-box { width:290px; position:relative;}
	.featured-price{ position:static; border:0px; }
}

/*--Iphone 6 Device Specific Portrait--*/
@media (min-width: 370px) and (max-width: 375px) {
	.featured-listing li, .featured-listing-box { width:290px; position:relative; float:none; margin:20px auto;}
	.featured-price{ position:static; border:0px; }
	.searchbox-home { top:10px;}
	.searchbox-home .select-style,
	.searchbox-home button{ float:none; width:100%; padding:5px;}
	.searchbox-home input[type="text"]{ background-image:none; padding-left:10px; padding-top:4px; padding-bottom:4px; border-left:0px; border-top:1px solid #f7f7f7; width:100%;}
	.searchbox-home .select-style{ padding:3px 0px;}
	.featured-listing li, .featured-listing-box { margin:5px auto; }
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 .navbar-default .navbar-nav > li > a {padding-left:0px; padding-right:0px;}

 }

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* xs */
@media (max-width: 767px) {
#myCarousel .container:after{ clear:both;}
}

/* XS Portrait */
@media (max-width: 480px) {
.navbar-nav > li{ width:90%; margin:0 auto;}
}

@media (min-width: 981px) and (max-width: 1024px){
 .searchbox-home{ top:200px!important;}
}


@media (min-width: 1279px) and (max-width: 1280px){
 .container-fluid{ width:100%;}
}



@media (min-width: 980px) and (max-width: 1023px) {

}

@media (min-width: 768px) and (max-width: 799px) {


}
@media (min-width: 320px) and (max-width: 767px) {
.container {max-width:100%;}

/*--Homepage CSS--*/
}
@media (min-width: 320px) and (max-width: 479px) {
}

@media (min-width: 361px) and (max-width: 480px) {
}


@media (min-width: 321px) and (max-width: 360px) {
}
@media (min-width: 300px) and (max-width: 320px) {
}
