/*************************
*******Typography******
**************************/


body {background: #fff; font-size:14px; /*font-family: 'Roboto', sans-serif; */ font-family: 'Open Sans', sans-serif; color:#4e4e4e; line-height: 22px; padding-top:90px;}
img{ max-width:100%; height:auto;}
h1, h2, h3, h4, h5, h6 {font-weight: 500; font-family: 'Roboto', sans-serif; color:#4e4e4e;}
h1{font-size: 30px; color:#000; font-weight:normal;}
h2{font-size: 20px; color:#F24F4F; text-transform:uppercase; padding-bottom:20px; border-bottom:1px solid #ccc;}
h3{font-size: 16px; color: #787878; font-weight: 600; line-height: 24px;}
h4{font-size: 16px;}
a {color: #000; -webkit-transition: color 300ms, background-color 300ms; -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms; transition:  color 300ms, background-color 300ms;}
a:hover, a:focus {color: #d43133;}
hr {border-top: 1px solid #e5e5e5; border-bottom: 1px solid #fff;}
.btn-primary {padding: 8px 20px; background: #c55a5d; color: #fff; border-radius: 4px; border:none; margin-top: 10px;}
.btn-primary:hover, .btn-primary:focus{background: #000; outline: none; box-shadow: none;} 
.btn-transparent {border: 3px solid #fff; background: transparent; color: #fff;}
.btn-transparent:hover {border-color: rgba(255, 255, 255, 0.5);}
a:hover, a:focus {color: #c1565a; text-decoration: none; outline: none;}
.dropdown-menu {margin-top: -1px; min-width: 180px;}
.center h2{font-size: 36px; margin-top: 0; margin-bottom: 20px;}
.media>.pull-left{margin-right: 20px;}
.media>.pull-right{margin-left: 20px;}
body > section {padding: 30px 0;}
.center {text-align: center; padding-bottom: 55px;}
.scaleIn {-webkit-animation-name: scaleIn; animation-name: scaleIn;}
.lead{font-size: 16px; line-height: 24px; font-weight: 400;}
.transparent-bg {background-color: transparent !important; margin-bottom: 0;}

@-webkit-keyframes scaleIn {
  0% {opacity: 0; -webkit-transform: scale(0); transform: scale(0);}
  100% {opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}

@keyframes scaleIn {
  0% {opacity: 0; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0);}
  100% {opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1);}
}

.nopad-right{ padding-right:0px;}
.nopad-all{ padding:0px;}
.container-fluid{ width:95%; margin:0px auto;}

/*--Checkbox & Radio Buttons--*/
.checkbox-custom, .radio-custom {opacity: 0; position: absolute;}
.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {display: inline-block; vertical-align: middle;
    Xmargin: 5px; cursor: pointer;}
.checkbox-custom-label, .radio-custom-label {position: relative; margin:0px; font-weight:normal;}
.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {content: ''; background: #fff;
    border: 1px solid #ddd; display: inline-block; vertical-align: middle; width: 20px; height: 20px; padding: 2px; margin-right: 10px; text-align: center; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; line-height:13px;}
.checkbox-custom:checked + .checkbox-custom-label:before {content: "\f00c"; font-family: 'FontAwesome'; background: #f5f5f5;
    color: #000;}
.radio-custom + .radio-custom-label:before {border-radius: 50%;}
.radio-custom:checked + .radio-custom-label:before {content: "\f00c"; font-family: 'FontAwesome'; color: #bbb;}
.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {outline: 0px solid #ddd; /* focus style */}
.clear{ clear:both;}
.flt-lt{ float:left;}
.flt-rt{ float:right;}
.flt-ct{ float:center;}
#header .flt-lt{ float:right;}
.custom-select{background: #fff; border: 1px solid #CCCCCC; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;  opacity: 1; -webkit-appearance: menulist-button; line-height: 30px; height: 30px; width: 160px; font-weight: 600;}
.btn-compare .checkbox-custom + .checkbox-custom-label:before {content: ''; background: #fff; border: 1px solid #ddd; display: inline-block; vertical-align: middle; width: 18px; height: 18px; padding: 2px; margin-right: 10px; text-align: center; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; line-height:13px}
.btn-compare .checkbox-custom:checked + .checkbox-custom-label:before {content: "\f00c"; font-family: 'FontAwesome';    background: #fff; color: #FF4800;}
.navbar-default .navbar-nav > li > a:hover{ color:#c1565a !important;}
.dropdown-menu > li > a:hover{ color:#ff4800;}


.how-work{display:inline-block; vertical-align:top; width:100%; position:relative; padding:0 0 30px;}
.home-heading{background:#ff7070; width:325px; margin:auto; text-align:center; color:#fff; font-size: 20px; margin-top: -34px;
    padding: 22px 0; text-transform:uppercase; letter-spacing:7px; margin-bottom:45px;}
.how-work .panel-heading {background: none; text-align: center; border:0;}

.how-work .nav-tabs>li{float:none; display:inline-block; vertical-align:top;}
.how-work .nav-tabs > li > a{ font-weight: 700; font-family: 'Roboto'; font-size: 18px; text-transform:uppercase; border:0;}
.how-work .nav-tabs > li.active > a, .how-work .nav-tabs > li.active > a:hover, .how-work .nav-tabs > li.active > a:focus{color:#000; border:0;}
.how-work .panel-body{padding:0;}
.how-work .panel-default{border:0;}
.how-work .tab-pane {padding:25px 15px 50px 15px; border: 1px solid #bfbfbf; margin-top: 0;}
.how-work .col-md-4{border-right:1px solid #ccc;}
.how-work .col-md-4:nth-child(3){border-right:0;}
.how-work .col-md-4 .icon{width: 63px; height: 57px; margin: auto;}
.how-work .col-md-4 h3{color:#000; font-size:24px; text-align:center;}
.how-work .col-md-4 p{color:#4d4d4d; font-size:14px; padding:16px 74px; text-align:center;}
.home-heading1{background:#ff7070; width:295px; margin:auto; color:#fff; font-size: 20px; margin-top: -52px;
     text-transform:uppercase; letter-spacing:5px; margin-bottom:45px;}
.home-heading1 a{color:#fff; padding:22px 26px; display:block; border:1px dashed #ff7070; background:#ff7070 url(../images/slider-form-arrow.png) no-repeat 90% center;}
.home-heading1 a:hover{color:#ff7070; background:#000 url(../images/slider-form-arrow.png) no-repeat 90% center; border:1px dashed #ff7070;}
.how-work .nav-tabs > li.active:after {
    content: '';
    position: absolute;
    right: 0;
	left:0;
    bottom:-10px;
    margin:0 auto;
	background:url(../images/tab-arrow.png) no-repeat center bottom;
	height:10px; width:20px;
    /*border-left: 0;
    border-bottom: 24px solid transparent;
    border-top: 24px solid transparent;
    border-right: 22px solid #fff;
    float: right;*/
}









.inner-banner {display: inline-block; vertical-align: top; width: 100%; position:relative; box-shadow: 1px 1px 15px  rgba(0,0,0,0.6); margin-top:-94px;}
.inner-banner:before, .inner-banner:after {z-index: -1; position: absolute; content: ""; bottom: 15px; left: 10px; width: 50%;
    top: 80%; max-width: 300px; background: #777; -webkit-box-shadow: 0 15px 10px #777; -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777; -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg); transform: rotate(-3deg);}
.inner-banner:after {-webkit-transform: rotate(3deg); -moz-transform: rotate(3deg); -o-transform: rotate(3deg); -ms-transform: rotate(3deg); transform: rotate(3deg); right: 10px; left: auto;}
.inner-banner img{height:300px; width:100%;}
.inner-banner .contact-left{width:50%; padding:20px; background:#000 /*#989901*/; text-align:right; color:#fff; font-size: 15px; line-height: 25px;}
.inner-banner .contact-right{width:50%; padding:20px; background:#c54545/* #ff6666*/; text-align:left; color:#fff; font-size: 15px; line-height: 25px;}	
.inner-banner .contact-left span, .inner-banner .contact-right span {color: #e4e4e4; font-weight: 700; font-family: 'Roboto';
    font-size: 18px; line-height: 25px; display: block;}
.inner-banner .contact-right a{color:#fff;}	
.inner-banner .contact-right a:hover{color:#000;}
.contact-bg{padding:30px 0;}
.contact-bg .col-md-6{padding:0;}
.input-div{display:inline-block; vertical-align:top; width:70%; margin: 0 0 20px 40px;}
.input-div input, .input-div textarea{width:100%; border:1px solid #c55a5d; background:#fff; padding:5px 10px; font-size: 13px;}
.input-div textarea {resize: none; height: 90px;}
.input-div input[type="submit"] {background: #c55a5d; color: #fff; width: 100px;}
.input-div input[type="submit"]:hover {background: #ff6666; border:1px solid #ff6666;}

#testimonial .col-md-6 {margin-top: 120px;}
.testimonial{position:relative; border-color: #c81f15;}
.testimonial .pic{margin-top: 0; position: absolute; top: -76px; left: 0; right: 0; margin: auto; background: #c55a5d; /* Old browsers */ background: -moz-linear-gradient(left, #989901 0%, #ff6666 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(left, #989901 0%,#ff6666 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to right, #989901 0%,#ff6666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989901', endColorstr='#ff6666',GradientType=1 ); /* IE6-9 */
    width: 150px; height: 150px; position: absolute; border-radius: 50%; text-align: center; padding: 5px;}
.testimonial .tesi {width: 100%; display: inline-block; vertical-align: top; margin-top: 50px; text-align: center;}
.testimonial .tesi h3.testimonial-title {color: #d53b42;}
.testimonial .tesi p.description {color: #c55a5d;}

.services-page{}
.gallery-item {position: relative; overflow: hidden;}
.project-classic {position: relative; overflow: hidden; margin: 15px 0;}
.project-classic-overlay {position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; opacity: 0; background-color: /*rgba(213, 61, 66, 0.61)*/ rgba(255,255,255,.9); text-align: center; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
.project-classic-content {display: table; width: 100%; height: 100%; text-align: center;}
.project-classic-content-inner {display: table-cell; vertical-align: middle; text-align: center; padding: 15px;}
.project-classic-content h3 {font-size: 24px; color:#c81214; font-weight: 700; margin-bottom: 5px; font-family: 'Roboto';}
.project-classic img {display: block; width: 100%; transform: scale(1.1); height: auto;}
.gallery-item img {width: 100%; -webkit-transition-duration: .3s; transition-duration: .3s;}
.project-classic:hover img {transform: scale(1);}
.project-classic:hover .project-classic-overlay {opacity: 1;}

.login {width: 100%; display: inline-block; vertical-align: top; background: url(../images/login-bg2.jpg) no-repeat left top; background-attachment:fixed; background-size:cover; margin: 30px 0 0 0; padding: 50px 0;}
.cont_centrar {position: relative; float: left; width: 100%;}
.login-img{width: 30%; display: inline-block; vertical-align: top; float: left;}
.cont_login {position: relative; width: 100%;}
.cont_back_info { position: relative; float: left; width: 100%; height: 360px; overflow: hidden; background-color: #fff;
  margin-top: 100px; box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5);}
.cont_forms {position: absolute; overflow: hidden; top:100px; left: 50%; width: 50%; height: 360px; background-color: #eee;
-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.cont_forms_active_login {box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5); height: 420px; top:20px; left: 0px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.cont_forms_active_sign_up {box-shadow: 1px 10px 30px -10px rgba(0,0,0,0.5); height: 420px; top:20px; left:320px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
}
.cont_img_back_grey {position: absolute; width: 100%; top:-80px; left: 0;}
.cont_img_back_grey > img {width: 100%; -webkit-filter: grayscale(100%); filter: grayscale(100%); opacity: 0.2; animation-name: animar_fondo; animation-duration: 20s; animation-timing-function: linear; animation-iteration-count: infinite;
animation-direction: alternate;}
.cont_img_back_ {position: absolute; width: 950px; top:-80px; left: -116px;}
.cont_img_back_ > img {width: 100%; opacity: 0.3; animation-name: animar_fondo; animation-duration: 20s; animation-timing-function: linear; animation-iteration-count: infinite; animation-direction: alternate;}
.cont_forms_active_login > .cont_img_back_ {top:0px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.cont_forms_active_sign_up > .cont_img_back_ {top:0px; left: -435px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s;
-ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.cont_info_log_sign_up {/*position: absolute;*/ width: 100%; height: 330px; top: 100px; z-index: 1;} 
.col_md_login {position: relative; float: left; width: 100%;}
.col_md_login > h2 {font-weight: 400; margin-top: 70px; color: #757575;}
.col_md_login > p {font-weight: 400; margin-top: 15px; width: 80%; color: #37474F;}
.btn_login {background-color:#c55a5d; border: none; padding:5px 0; width: 147px; border-radius:3px; box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4); color: #fff; margin:12px 1% 0; cursor: pointer;}
.col_md_sign_up {position: relative; float: left; width: 100%;}
.cont_ba_opcitiy > h2 {font-family: 'Open Sans', sans-serif; font-weight: 400; border-bottom: 1px solid #F24F4F; padding: 0 0 10px 0; margin:0 2%;}
.cont_ba_opcitiy > h3 {font-weight: 400; font-family: 'Open Sans', sans-serif; padding: 0 0 10px 0; color:#222; margin:1.5% 2% 0;}
.cont_ba_opcitiy > h3 a{color:#c55a5d;}
.cont_ba_opcitiy > h3 a:hover{color:#222;}
.login-input {width: 48%; float: left; margin:0 1% 2%;}
.login-input input{margin-bottom:0;}
.facebook {background: #0079ce; border: none; border-radius: 0px 3px 3px 0px; color: #f4f4f4; cursor: pointer; height: 40px;
    text-transform: uppercase; width: 77%; float:left; margin:0;}
.facebook-before {background: #0064ab; border-radius: 3px 0px 0px 3px; color: #f4f4f4; display: block; float: left; height: 40px;
    line-height:40px !important; text-align: center; width: 40px;}
.facebook-cont, .twitter-cont{width: auto; float:left; margin:1% 0 0 1%;}
.twitter{background: #1bb2e9; border: none; border-radius: 0px 3px 3px 0px; color: #f4f4f4; cursor: pointer; height: 50px;
    text-transform: uppercase; width: 77%; float:left; margin:0;}
.twitter-before {background: #189bcb; border-radius: 3px 0px 0px 3px; color: #f4f4f4; display: block; float: left; height: 40px;
    line-height: 40px !important; text-align: center; width: 40px;}
.social-login{display:inline-block; vertical-align:top; width:100%;}
.cont_ba_opcitiy > p {font-weight: 400; margin-top: 15px; color: #222;}
.services-page1{padding: 30px 0 0;}

.cont_login .tab-pane{border:0; margin-top: 0;}




/* ----------------------------------
background text    
------------------------------------
 */
.cont_ba_opcitiy {position: relative; background-color:rgba(235, 235, 235, 0.66); width: 100%; border-radius:3px; padding: 15px; margin:0 auto; display: inline-block; vertical-align: top;}
.btn_sign_up {background-color: #c55a5d; border: none; padding: 5px 10px; width: 126px; border-radius:3px; box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4); color: #fff; margin: 10px 1% 0; cursor: pointer;}
.cont_forms_active_sign_up {z-index: 2;}


@-webkit-keyframes animar_fondo {
  from { -webkit-transform: scale(1) translate(0px); -moz-transform: scale(1) translate(0px); -ms-transform: scale(1) translate(0px); -o-transform: scale(1) translate(0px); transform: scale(1) translate(0px);}
  to { -webkit-transform: scale(1.5) translate(50px); -moz-transform: scale(1.5) translate(50px); -ms-transform: scale(1.5) translate(50px); -o-transform: scale(1.5) translate(50px); transform: scale(1.5) translate(50px);}
  }
@-o-keyframes identifier {
  from { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); } 
  to { -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5); transform: scale(1.5);}
}
@-moz-keyframes identifier {
  from {-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1);}
  to { -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5);
transform: scale(1.5);}

}
@keyframes identifier {
  from { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1);}
  to { -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -ms-transform: scale(1.5); -o-transform: scale(1.5);
transform: scale(1.5);}
}
.cont_form_login {position: absolute; opacity: 0; display: none; width: 320px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}
.cont_forms_active_login {z-index: 2;}
.cont_forms_active_login  >.cont_form_login {}
.cont_form_sign_up {position: absolute; width: 320px; float: left; opacity: 0; display: none; -webkit-transition: all 0.5s;
-moz-transition: all 0.5s; -ms-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}  
.cont_form_sign_up > input {text-align: left; padding: 15px 5px; margin-left: 10px; margin-top: 20px; width: 260px; border: none;
    color: #757575;}
.cont_form_sign_up > h2 {margin-top: 50px; font-weight: 400; color: #757575;}
.cont_form_login > input {padding: 15px 5px; margin-left: 10px; margin-top: 20px; width: 260px; border: none; text-align: left;  color: #757575;}
.cont_form_login > h2 {margin-top: 110px;  font-weight: 400; color: #757575;}
.cont_form_login > a,.cont_form_sign_up > a  {color: #757575; position: relative; float: left; margin: 10px;}
input.btn_sign_up {width: 147px; margin: 0;}
.hide1{display:none; margin: 0 0 1% 0;}
.hide1 input {width: 48%; float: left; margin: 0 1%;}
.hide1 input.btn_login {width: 120px;}
.container h1 {font-size: 20px; text-transform: uppercase; color: #000; background: url(../images/header-decoration.png) no-repeat bottom center; padding-bottom: 40px; margin-bottom: 0px; text-align: center;padding-top: 0px;}

.about-section {border-top: 16px solid #9b1421;}
.red-bg {background:#c3393d; display: inline-block; vertical-align: top; width: 100%; color: #fff; text-align: center;
    padding:50px 0; overflow: hidden;}
.venue-details {padding: 10px 0 0 0; display: inline-block; vertical-align: top; width: 100%;}
.mylistings {margin: 10px 0 0 0; display: inline-block; width: 100%; vertical-align: top;}










.stepwizard-step p {margin-top: 10px; font-size: 20px;}
.stepwizard-row {display: table-row;}
.stepwizard {display: table; width: 100%; position: relative;}
.stepwizard-step button[disabled] {opacity: 1 !important; filter: alpha(opacity=100) !important;}
.stepwizard-row:before {top: 14px; bottom: 0; position: absolute; content: " "; width: 100%; height: 1px; background-color: #ccc;
    z-order: 0;}
.stepwizard-step {display: table-cell; text-align: center; position: relative;}
.setup-content{margin-bottom: 30px;}
.setup-content label{width: 25%; float: left;}
.setup-content input.form-control, .setup-content select.form-control, .setup-content textarea.form-control {width: 50% !important;}
.btn-circle {width: 30px; height: 30px; text-align: center; padding: 6px 0; font-size: 12px; line-height: 1.428571429;   border-radius: 15px; margin: 0;}
.setup-content h4{color: #c5595d; text-transform:uppercase; border: 1px dotted #c5595d; border-left: 0; border-right: 0;    padding: 10px 0; margin: 20px 0;}
input[type="file"], input[type="file"]:focus, input[type="file"]:hover, .setup-content input.form-control:focus{outline:none;}
.setup-content label.full-width{width:100%; float:none; padding:0 0 10px 0;}
.feature_adjust {width: 32.333%; padding: 0 10px 0 0; display: inline-block; vertical-align: top; font-size: 13px; line-height: 13px; margin-bottom: 10px;}
.feature_adjust input[type="radio"], .feature_adjust input[type="checkbox"] {vertical-align: bottom;}