body {background: #fff; font-size:14px; /*font-family: 'Roboto', sans-serif; */ font-family: 'Open Sans', sans-serif; color:#4e4e4e; line-height: 22px;}
.intimation{font-size:14px; line-height:24px; text-align:center; text-transform:uppercase; font-weight:600;}
.form-horizontal1 .control-label{padding:0;}
.form-horizontal1 .form-control{border: 1px solid #81bdf3; height:auto; padding:9px 12px;}
.blue-bg{background:rgba(33, 93, 222, 1); color:#fff; font-size:18px; line-height:30px; font-weight:600;}
.blue-bg strong{font-weight:700;}
.intimation-bold{background:#f1f1f1; color: #000; font-weight: 700;}
.intimation-bold td{font-weight:700; font-size: 17px;}
.col-md-12.ml-auto.mr-auto {width: 90%; margin: 0 auto; display: block; float: none; padding:20px 0;}
table{background:#f7f7f7;}
td, th {border: 1px solid #dddddd; text-align: left; padding: 8px; vertical-align: top; font-weight:600;}
header {width: 100%; display:inline-block; vertical-align:top; color: #fff; background-color: #3685d6; overflow: hidden; text-align: center;
    padding: 10px; font-size:18px; line-height:30px; font-weight:600;}
	header .col-md-4, header .col-md-8{padding:0;}
header .col-md-4 img{max-width:100%;}
header strong{font-weight:700;}
.greenish-bg{font-size:16px; color:#FFF; background:#003333; text-align:center; padding: 1% 1%; line-height: 30px;}

.reprint-page{width:58%; margin:30px auto; min-height: 341px}
.panelbody{background:#CEE3F6; display: inline-block; vertical-align: top; width: 100%; padding: 20px;}
.panel-title{color:#fff; font-weight:600; padding: 0; line-height: 24px; text-align: center;}
.medium_text_normal1 {font-size: 16px; line-height: 26px; font-weight: normal; font-variant: normal; color: #003366; text-align: center; padding:10px 7% 1px;}
.form-horizontal1 .form-group {margin-right: 0; margin-left: 0;}
.form-horizontal1 h4 {border-radius: 5px; margin: 10px 1%; width: 98%; padding: 9px 15px; border-bottom: 1px solid #E5E5E5; background: #ADDFFF; color: #000; font-weight: 700; font-size:18px; font-weight:700; text-align:center;}
.err {display: block; vertical-align: top; width: 98%; margin: auto; padding: 10px;}
.err img{margin-right:10px; vertical-align: middle;}
.err span{color:#990000; font-size:14px}
.btn-primary{background: #0b77b7; color: #fff;}
.btn-primary:focus, .btn-primary:hover {background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%); background-image: -o-linear-gradient(top,#337ab7 0,#173e61 100%); background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#173e61));
    background-image: linear-gradient(to bottom,#337ab7 0,#173e61 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x; border-color: #245580; background-position: 0 -15px;}










#footer {width: 100%; color: #878787; margin:10px 0 0; background: #393939; border-top: 5px solid #000; padding: 15px 0; text-align:center;}
#footer a{color: #878787; text-decoration:none;}
#footer a:hover{color: #cee3f6; text-decoration:none;}



.fade.show {
    opacity: 1; display: block;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    background: url(../images/fancybox_overlay.png) repeat left top;/* rgb(0,0,0,0.8);*/
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}
.modal-dialog {
    position: relative;
    z-index: 1050;   
    margin: 200px auto;
    width: 500px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    background-clip: padding-box;
    border-radius: 5px;
}
.loginbox {
    padding: 20px;
    border: 4px solid #dcdcdc;
    border-radius: 5px;
   /* height: 100px 400px;*/
}
.loginbox .close {
    float: right;
    position: absolute;
    right: -17px;
    top: -18px;
    background: url(../images/fancybox_sprite.png) no-repeat left top;
    width: 37px;
    height: 33px;
    border: 0;
    text-indent: -99999999px;
    outline: none;
    opacity: 1;
}
.modal-backdrop{background-color: transparent;}
.modal-backdrop.fade.show{display:none !important;}